Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec, pyright-verifytypes-tf-lock

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier --write --ignore-unknown

      - id: black
        name: black
        language: system
        entry: ./lib/make/bin/black
        pass_filenames: false

      - id: isort
        name: isort
        language: system
        entry: isort
        files: '\.py$'

      - id: pyright
        name: pyright
        language: system
        entry: pyright
        files: '\.py$'

      - id: mypy
        name: mypy
        language: system
        entry: mypy
        files: '\.py$'

      - id: pyright-verifytypes-lib
        name: "pyright verify: lib"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib
        files: "^lib/"
        pass_filenames: false

      - id: pyright-verifytypes-spec
        name: "pyright verify: spec"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes manual_tests
        files: "^manual_tests/"
        pass_filenames: false

      - id: pyright-verifytypes-tf-lock
        name: "pyright verify: tf-lock"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib/tf_lock/lib
        files: "^lib/tf_lock/lib/"
        pass_filenames: false

      - id: shellcheck
        name: shellcheck
        language: system
        entry: ./lib/make/bin/shellcheck

fix: dont fail when removing a removed label
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_unlock.yml
  lib/ci/reset-label.js
Due: pyright-verifytypes-lib

hg hook
  lib/hg.py
  lib/sh/core.py
  lib/sh/io.py
  requirements-dev.in
  requirements-dev.txt
Due: isort, pyright, mypy, pyright-verifytypes-lib

WIP: output
  lib/github-actions/set-output
Due: pyright-verifytypes-lib

feat(apply): update PR with results
  .github/workflows/tacos_apply.yml
  bin/gha-step-summary
  bin/sh-quote
  lib/ci/tacos-apply
  lib/github-actions/set-output
  lib/github-actions/step-summary
  lib/unix/sh-quote
Due: pyright-verifytypes-lib

DRY: reset label
  .github/workflows/reset-label.yml
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_unlock.yml
Due: none

we want to plan draft PRs too
  .github/workflows/tacos_plan.yml
Due: none

remove TF_VERSION?
  .github/actions/setup/action.yml
Due: none

better visibility into tf-lock-release subprocesses
  lib/ci/tacos-plan
  lib/sh/cd.py
  lib/sh/core.py
  lib/tf_lock/tf-lock-release
  lib/types.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

WIP: auto-direnv for lib/ci?
  lib/ci/lib/env.sh
  lib/hg.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

optimize: 50% speedup in dependent-slices
  lib/hg.py
  lib/tacos/dependent-slices
  lib/tacos/dependent_slices.py
  lib/types.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

avoid pythonpath silliness with python -m
  lib/tacos/dependent-slices
  lib/tacos/slices
  lib/tf_lock/release.py
  lib/tf_lock/tf-lock-release
Due: isort, pyright, mypy, pyright-verifytypes-lib

Updates plan comment to look like apply comment.
  lib/ci/tacos-plan
Due: pyright-verifytypes-lib

Fixes path to plan log file.
  lib/ci/tacos-plan
Due: pyright-verifytypes-lib

Removes terragrunt module prefix.
  lib/ci/tacos-plan
Due: pyright-verifytypes-lib

Reports failure as well as success in the PR comment.
  .github/workflows/tacos_plan.yml
  lib/ci/tacos-plan
Due: pyright-verifytypes-lib

tacos-apply: don't cd, report failures
  .github/workflows/tacos_apply.yml
  TODO.md
  lib/ci/tacos-apply
Due: pyright-verifytypes-lib

Avoids locking during plan on draft PRs.
  .github/actions/setup/action.yml
  lib/ci/tacos-plan
Due: pyright-verifytypes-lib

Fixes use of gha-set-env.
  .github/actions/setup/action.yml
Due: none

Reverses the if test for plan locking.
  lib/ci/tacos-plan
Due: pyright-verifytypes-lib

Removes XFail from draft pr scenario.
  manual_tests/scenarios/draft_pr.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

Updates draft PR scenario to account for absence of lock check.
  manual_tests/scenarios/draft_pr.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

Fixes approval and job name.
  manual_tests/behaviors/unlock_on_merge.py
  manual_tests/lib/gh/check.py
  manual_tests/scenarios/draft_pr.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

fix: hg hook
  .done/.gitignore
  lib/hg.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

Find the terraform version.
  .github/actions/setup/action.yml
Due: none

Setup terraform.
  .github/actions/setup/action.yml
Due: none

Sets terraform version.
  .github/actions/setup/action.yml
Due: none

Approve the right PR.
  manual_tests/scenarios/draft_pr.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

bootstrap tacos-gha in default-shell, pre-sudo, just a bit
  lib/ci/default-shell
Due: pyright-verifytypes-lib

show more environment and context when GHA debugging is enabled
  .envrc
  .github/actions/just-the-basics/action.yml
  .github/actions/setup/action.yml
  bin/gha-printenv
  lib/ci/default-shell
  lib/ci/default-shell-post-sudo
  lib/github-actions/printenv
  lib/sh/io.py
  lib/tf_lock/lib/tf_lock_acquire.py
  lib/unix/env-sorted
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

Allows PR close to work if it's already closed or merged.
  manual_tests/lib/gh/pr.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

Applies pre-commit.
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_plan.yml
  lib/github-app/device-flow/README.md
Due: pyright-verifytypes-lib

Applies shellcheck.
  lib/ci/tacos-plan
Due: pyright-verifytypes-lib

DRYs out the plan lock code.
  lib/ci/tacos-plan
Due: pyright-verifytypes-lib

Adds chdir to plan.
  lib/ci/tacos-plan
Due: pyright-verifytypes-lib

Adds typing fixes and makes .terraform-version mandatory.
  .github/actions/setup/action.yml
  lib/ci/tacos-plan
  manual_tests/behaviors/apply_on_update.py
  manual_tests/behaviors/drift_detection.py
  manual_tests/lib/slice.py
  manual_tests/scenarios/draft_pr.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

Attempting to get things working with json
  .github/actions/prepare-summary/action.yml
  .github/workflows/tacos_lock.yml
Due: none

Stops allowing GITHUB_PR_DRAFT to silently fail.
  .github/actions/setup/action.yml
Due: none

Any color so long as it's black.
  lib/ci/tacos-plan
Due: pyright-verifytypes-lib

Moving to a json based artifact approach
  .github/actions/matrix-fanin/action.yml
  .github/actions/matrix-fanout/action.yml
  .github/workflows/selftest-matrix-io.yml
Due: none

Removing unused code
  .github/actions/prepare-summary/action.yml
  lib/ci/process-lock-result
Due: pyright-verifytypes-lib
