Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec, pyright-verifytypes-tf-lock

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier --write --ignore-unknown

      - id: black
        name: black
        language: system
        entry: ./lib/make/bin/black
        pass_filenames: false

      - id: isort
        name: isort
        language: system
        entry: isort
        files: '\.py$'

      - id: pyright
        name: pyright
        language: system
        entry: pyright
        files: '\.py$'

      - id: mypy
        name: mypy
        language: system
        entry: mypy
        files: '\.py$'

      - id: pyright-verifytypes-lib
        name: "pyright verify: lib"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib
        files: "^lib/"
        pass_filenames: false

      - id: pyright-verifytypes-spec
        name: "pyright verify: spec"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes manual_tests
        files: "^manual_tests/"
        pass_filenames: false

      - id: pyright-verifytypes-tf-lock
        name: "pyright verify: tf-lock"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib/tf_lock/lib
        files: "^lib/tf_lock/lib/"
        pass_filenames: false

      - id: shellcheck
        name: shellcheck
        language: system
        entry: ./lib/make/bin/shellcheck

auto-commit: GHA deps, for test
  .github/actions/matrix-fan-in/rename-tmp-dirs.sh
Due: none

hopefully this works?
  .github/actions/matrix-fan-in/action.yml
  .github/actions/matrix-fan-in/rename-tmp-dirs.sh
Due: none

revert matrix-io path; some comments
  .github/actions/matrix-fan-in/action.yml
  .github/workflows/selftest-matrix-io.yml
  .github/workflows/tacos_unlock.yml
  lib/ci/bin/unlock-one
Due: pyright-verifytypes-lib

selftest-matrix-io: adjust to demo more than one fan-out dir per matrix slice
  .github/actions/matrix-fan-in/action.yml
  .github/actions/matrix-fan-in/rename-tmp-dirs.sh
  .github/actions/matrix-fan-out/selftest.sh
  .github/workflows/selftest-matrix-io.yml
Due: none

ghaencode: rework and test
  .github/actions/matrix-fan-out/ghadecode
  .github/actions/matrix-fan-out/ghaencode
  .github/actions/matrix-fan-out/test_ghaencode.py
  .pre-commit-config.yaml
Due: isort, pyright, mypy

use html entities instead
  .github/actions/matrix-fan-out/ghadecode
  .github/actions/matrix-fan-out/ghaencode
Due: none

ghaencode: switch to python; improve test
  .github/actions/matrix-fan-out/ghadecode
  .github/actions/matrix-fan-out/ghaencode
  .github/actions/matrix-fan-out/square.py
  .github/actions/matrix-fan-out/test_ghaencode.py
Due: isort, pyright, mypy

matrix-fan-out: handle multiple outdirs
  .github/actions/matrix-fan-out/prepare.sh
Due: none

v1
  .github/workflows/tacos_plan.yml
Due: none

v2
  .github/workflows/tacos_plan.yml
Due: none

added org name to repo name
  .github/workflows/tacos_plan.yml
Due: none

auto-commit: GHA deps, for test
  lib/ci/unlock
Due: pyright-verifytypes-lib

Move cache before cd
  lib/tf_lock/release.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

find the correct lock id
  lib/tf_lock/tf_lock_info.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

ghaencode: convert to python; add tests
  .github/actions/matrix-fan-out/.envrc
  .github/actions/matrix-fan-out/ghadecode
  .github/actions/matrix-fan-out/ghaencode
  .github/actions/matrix-fan-out/ghaencode.py
  .github/actions/matrix-fan-out/ghaencode_test.py
  .github/actions/matrix-fan-out/test_ghaencode.py
Due: isort, pyright, mypy

wip: fixing fan-in
  .github/actions/matrix-fan-in/action.yml
  .github/actions/matrix-fan-in/ghaencode.py
  TODO.grep.md
  requirements-dev.in
  requirements-dev.txt
Due: isort, pyright, mypy

DEBUG: ssh access
  .github/actions/matrix-fan-in/action.yml
Due: none

wip: fixing fan-in: use artifact-name
  .github/actions/matrix-fan-in/action.yml
  .github/actions/matrix-fan-in/rename-tmp-dir.sh
  .github/actions/matrix-fan-in/rename-tmp-dirs.sh
Due: none

wip: explicitly add top-level metadata
  .github/actions/matrix-fan-out/action.yml
  .github/actions/matrix-fan-out/prepare.sh
Due: none

wip: fix assertions
  .github/actions/matrix-fan-in/selftest.sh
Due: none

we're done debugging
  .github/actions/matrix-fan-in/action.yml
Due: none

matrix-fan-out: update metadata layout, correct path.list for multi-dir outputs
  .github/actions/matrix-fan-in/rename-tmp-dir.sh
  .github/actions/matrix-fan-in/rename-tmp-dirs.sh
  .github/actions/matrix-fan-out/action.yml
  .github/actions/matrix-fan-out/prepare.sh
Due: none

ensure $indir exists
  .github/actions/matrix-fan-in/rename-tmp-dir.sh
  .github/actions/matrix-fan-in/rename-tmp-dirs.sh
  .github/actions/matrix-fan-out/prepare.sh
Due: none

fixup! update metadata layout
  .github/actions/matrix-fan-out/prepare.sh
Due: none

matrix-fan-out: all fan-out metadata appears in fan-in metadata
  .github/actions/matrix-fan-in/action.yml
  .github/actions/matrix-fan-in/append-to-dir
  .github/actions/matrix-fan-in/rename-tmp-dir.sh
  .github/actions/matrix-fan-in/rename-tmp-dirs.sh
  .github/actions/matrix-fan-in/set-artifact-name.sh
  .github/actions/matrix-fan-out/action.yml
  .github/actions/matrix-fan-out/prepare.sh
  .github/actions/matrix-fan-out/set-artifact-name.sh
Due: none

wip: updating selftest scenario
  .github/actions/matrix-fan-in/selftest-summary.sh
  .github/actions/matrix-fan-in/selftest.sh
  .github/actions/matrix-fan-out/selftest.sh
Due: none

DEBUG: sshd
  .github/actions/matrix-fan-in/action.yml
  .github/actions/matrix-fan-in/selftest-summary.sh
Due: none

fixup! updating
  .github/actions/matrix-fan-in/selftest-summary.sh
  .github/actions/matrix-fan-out/prepare.sh
Due: none

fix: back to set-artifact-name
  .github/actions/matrix-fan-in/action.yml
  .github/actions/matrix-fan-in/selftest-summary.sh
  .github/actions/matrix-fan-in/set-artifact-name.sh
  .github/actions/matrix-fan-out/action.yml
  .github/actions/matrix-fan-out/set-artifact-name.sh
Due: none

refactor ghaencode a bit
  .github/actions/matrix-fan-out/ghaencode.py
  .github/actions/matrix-fan-out/ghaencode_test.py
Due: isort, pyright, mypy

fixup! fixup! updating
  .github/actions/matrix-fan-out/action.yml
  .github/actions/matrix-fan-out/ghaencode.py
Due: isort, pyright, mypy

auto-commit: GHA deps, for test
  .github/actions/matrix-fan-out/ghaencode.py
  .github/actions/matrix-fan-out/ghaencode_test.py
Due: isort, pyright, mypy

add IAC source for tests
  .config/sudo-gcp/service-account
  spec/behaviors/terragrunt_source_slice.env/.gitignore
  spec/behaviors/terragrunt_source_slice.env/module/slice-0-project/.terraform.lock.hcl
  spec/behaviors/terragrunt_source_slice.env/module/slice-0-project/_versions.tf
  spec/behaviors/terragrunt_source_slice.env/module/slice-0-project/project.tf
  spec/behaviors/terragrunt_source_slice.env/module/slice-1-iam/.terraform.lock.hcl
  spec/behaviors/terragrunt_source_slice.env/module/slice-1-iam/_versions.tf
  spec/behaviors/terragrunt_source_slice.env/module/slice-1-iam/iam.tf
  spec/behaviors/terragrunt_source_slice.env/module/slice-2-vm/.terraform.lock.hcl
  spec/behaviors/terragrunt_source_slice.env/module/slice-2-vm/_versions.tf
  spec/behaviors/terragrunt_source_slice.env/module/slice-2-vm/vm.tf
  spec/behaviors/terragrunt_source_slice.env/project.hcl
  spec/behaviors/terragrunt_source_slice.env/slice-0-project/.terraform.lock.hcl
  spec/behaviors/terragrunt_source_slice.env/slice-0-project/terragrunt.hcl
  spec/behaviors/terragrunt_source_slice.env/slice-1-iam/.terraform.lock.hcl
  spec/behaviors/terragrunt_source_slice.env/slice-1-iam/terragrunt.hcl
  spec/behaviors/terragrunt_source_slice.env/slice-2-vm/.terraform.lock.hcl
  spec/behaviors/terragrunt_source_slice.env/slice-2-vm/terragrunt.hcl
  spec/default.env/.gitignore
  spec/default.env/project.hcl
  spec/default.env/slice-0-project/.terraform.lock.hcl
  spec/default.env/slice-0-project/_backend.tf
  spec/default.env/slice-0-project/_init.tf
  spec/default.env/slice-0-project/project.tf
  spec/default.env/slice-0-project/terragrunt.hcl
  spec/default.env/slice-1-iam/.terraform.lock.hcl
  spec/default.env/slice-1-iam/_backend.tf
  spec/default.env/slice-1-iam/_init.tf
  spec/default.env/slice-1-iam/iam.tf
  spec/default.env/slice-1-iam/terragrunt.hcl
  spec/default.env/slice-2-vm/.terraform.lock.hcl
  spec/default.env/slice-2-vm/_backend.tf
  spec/default.env/slice-2-vm/_init.tf
  spec/default.env/slice-2-vm/terragrunt.hcl
  spec/default.env/slice-2-vm/vm.tf
  terragrunt-base.hcl
Due: none

allow specs' IAC to vary per-test
  conftest.py
  spec/behaviors/terragrunt_source_slice.py
  spec/conftest.py
Due: isort, pyright, mypy

DEUBG: why no permissions
  .github/actions/matrix-fan-out/action.yml
  .github/actions/matrix-fan-out/prepare.sh
  spec/behaviors/terragrunt_source_slice.py
Due: isort, pyright, mypy

matrix-fan-out: skip looking at files not ours
  .github/actions/matrix-fan-out/prepare.sh
Due: none

auto-commit: GHA deps, for test
  .github/actions/matrix-fan-out/action.yml
Due: none

WIP: ./matrix-fan-out confusion
  .github/actions/matrix-fan-in/append-to-dir
  .github/actions/matrix-fan-out/action.yml
  .github/actions/matrix-fan-out/set-artifact-name.sh
  lib/ci/bin/tf-step-summary
  lib/ci/tacos-plan
  lib/github_actions/step-summary
Due: pyright-verifytypes-lib

new command: sudo-gcp-export
  bin/sudo-gcp-export
  lib/gcloud/gcloud-auth-export-access-token
  lib/gcloud/sudo-gcp-export
  lib/gcloud/sudo-gcp-service-account
  lib/unix/super
Due: pyright-verifytypes-lib

preserve combined-ness of stdout/stdin
  lib/ci/bin/terragrunt-noninteractive
  lib/unix/tty-attach
Due: pyright-verifytypes-lib
