Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec, pyright-verifytypes-tf-lock

isort:
  name: isort
  language: system
  entry: isort

pyright:
  name: pyright
  language: system
  entry: pyright

mypy:
  name: mypy
  language: system
  entry: mypy

pyright-verifytypes-lib:
  name: 'pyright verify: lib'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib
  pass_filenames: false

pyright-verifytypes-spec:
  name: 'pyright verify: spec'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes manual_tests
  pass_filenames: false

pyright-verifytypes-tf-lock:
  name: 'pyright verify: tf-lock'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib/tf_lock/lib
  pass_filenames: false

fixed the tests
  TODO.grep.md
  lib/ci/tacos_plan_summary_test.py
  lib/make/venv
Due: isort, pyright, mypy, pyright-verifytypes-lib

rollback: job deep links in pr comment headers
  lib/ci/bin/tf-step-summary
  lib/ci/tacos_summary.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

improved debug
  lib/ci/bin/tf-step-summary
  lib/ci/default-shell
Due: pyright-verifytypes-lib

add some test coverage
  lib/ci/tacos_summary.py
  lib/ci/tacos_summary_test.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

fix(matrix-fan-out): fail soft when prior steps fail
  .github/actions/matrix-fan-out/prepare.sh
Due: none

nit: append newline
  lib/unix/flock
Due: pyright-verifytypes-lib

small improvements, while working on tf-sandbox
  TODO.md
  bin/terragrunt-noninteractive
  bin/tty-exists
  lib/ci/bin/terragrunt
  lib/gcloud/sudo-gcp-service-account
  lib/terragrunt/terragrunt-noninteractive
  lib/unix/tty-attach
  lib/unix/tty-exists
Due: pyright-verifytypes-lib

small improvements, while working on tf-sandbox
  lib/gcloud/sudo-gcp
  lib/gcloud/sudo-gcp-service-account
Due: pyright-verifytypes-lib

Add instructions for repository settings in INSTALL.md
  doc/INSTALL.md
Due: none

todo
  TODO.md
Due: none

new: gcloud-tokeninfo
  bin/gcloud-tokeninfo
  lib/gcloud/gcloud-tokeninfo
Due: pyright-verifytypes-lib

feat(lib/gcloud): export access token as json, binary
  lib/gcloud/gcloud-auth-export-access-token
Due: pyright-verifytypes-lib

add debug for direnv
  lib/ci/bin/default-shell-post-sudo
Due: pyright-verifytypes-lib

DO NOT SUBMIT: making terragrunt-noninteractive more useful interactively
  lib/terragrunt/terragrunt-noninteractive
Due: pyright-verifytypes-lib

enhanced GHA debug-log control
  lib/ci/bin/gha-debug.sh
  lib/ci/default-shell
Due: pyright-verifytypes-lib

DEBUG: GHA debug-log control
  lib/ci/bin/gha-debug.sh
Due: pyright-verifytypes-lib

roll! todo
  TODO.md
Due: none

treat DEBUG numerically, in all sh code
  .envrc
  activate.sh
  lib/ci/bin/default-shell-post-sudo
  lib/ci/bin/tf-step-summary
  lib/ci/bin/with-user-env
  lib/gcloud/gcloud-auth-export-access-token
  lib/gcloud/sudo-gcp
  lib/gcloud/sudo-gcp-service-account
  lib/github_actions/set-env
  lib/github_actions/set-output
  lib/github_actions/step-summary
  lib/tacos/install-labels
  lib/terragrunt/terragrunt-noninteractive
  lib/tf_lock/lib/env.sh
  lib/unix/super
  lib/unix/tty-attach
Due: pyright-verifytypes-lib, pyright-verifytypes-tf-lock

roll! gha debug control
  lib/ci/bin/gha-debug.sh
  lib/ci/default-shell
Due: pyright-verifytypes-lib

use python3.12 -Pm to prevent import confusion
  lib/ci/list-slices
  lib/ci/tacos-apply-summary
  lib/ci/tacos-plan-summary
  lib/ci/tacos-unlock-summary
  lib/make/venv
  lib/tacos/dependent-slices
  lib/tacos/install-labels
  lib/tacos/slices
  lib/tf_lock/tf-lock-acquire
  lib/tf_lock/tf-lock-release
Due: pyright-verifytypes-lib

use python3.12 -P in shebangs, too
  lib/ci/release-lock
  lib/ci/tacos_apply_summary.py
  lib/ci/tacos_plan_summary.py
  lib/ci/tacos_unlock_summary.py
  lib/tf_lock/tf_lock_acquire.py
  lib/unix/nearest-config-file
Due: isort, pyright, mypy, pyright-verifytypes-lib

export PYTHONSAFEPATH to prevent import confusion
  activate.sh
  lib/tacos/dependent-slices
  lib/tf_lock/lib/env.py
  lib/tf_lock/lib/env.sh
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

re-use activate.sh from .envrc
  .envrc
Due: none

fix: use more-specific .terraform-version if it exists
  .github/actions/setup/action.yml
Due: none

reverting back to old version of tacos unlock
  .github/workflows/tacos_unlock.yml
  lib/tacos/unlock
Due: pyright-verifytypes-lib

auto-commit: GHA deps, for test
  lib/tacos/unlock
Due: pyright-verifytypes-lib

add back terragrunt-slices
  bin/terragrunt-slices
Due: none

this might look cleaner
  .github/workflows/tacos_unlock.yml
  lib/ci/unlock
  lib/tacos/unlock
Due: pyright-verifytypes-lib

revert a bit more, no more fan in summary
  .github/workflows/tacos_unlock.yml
Due: none

chmod
  lib/ci/unlock
Due: pyright-verifytypes-lib

triyng this script
  .github/workflows/tacos_unlock.yml
  lib/ci/unlock
Due: pyright-verifytypes-lib

correctly run tf-lock-release
  lib/ci/unlock
Due: pyright-verifytypes-lib

this gets all slices and not just changed files
  .github/workflows/tacos_unlock.yml
Due: none

fully remove the matrix workflow and do ALL slices
  .github/workflows/tacos_unlock.yml
  lib/ci/unlock
  lib/tf_lock/release.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

remove unused var
  .github/workflows/tacos_unlock.yml
Due: none

needs the matrix for setup
  .github/workflows/tacos_unlock.yml
Due: none

lets get this bread
  lib/ci/unlock
Due: pyright-verifytypes-lib

remove the matrix stuff, add conditional for set-workload-identity-provider
  .github/actions/setup/action.yml
  .github/workflows/tacos_unlock.yml
Due: none

clean code is happy code
  .github/actions/setup/action.yml
Due: none

add some checks for tf root module
  .github/actions/setup/action.yml
  lib/ci/set-terraformer
  lib/ci/set-workload-identity-provider
Due: pyright-verifytypes-lib

Path conditions:
  isort: any of: \.py$
  pyright: any of: \.py$
  mypy: any of: \.py$
  pyright-verifytypes-lib: any of: ^lib/
  pyright-verifytypes-spec: any of: ^manual_tests/
  pyright-verifytypes-tf-lock: any of: ^lib/tf_lock/lib/
