Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

black:
  name: black
  language: system
  entry: black

isort:
  name: isort
  language: system
  entry: isort

pyright:
  name: pyright
  language: system
  entry: pyright

mypy:
  name: mypy
  language: system
  entry: mypy

pyright-verifytypes-lib:
  name: 'pyright verify: lib'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib
  pass_filenames: false

pyright-verifytypes-spec:
  name: 'pyright verify: spec'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes manual_tests
  pass_filenames: false

wip: tacos_apply workflow
  .envrc
  .github/workflows/tacos_apply.yml
  lib/gcloud/sudo-gcp
  lib/getsentry-sac/sudo-sac
  lib/tacos/locks
  lib/tacos/slices
  lib/tacos/slices.py
Due: black, isort, pyright, mypy, pyright-verifytypes-lib

allow sudo-sac to be used from foreign repos (e.g. ops)
  lib/getsentry-sac/sudo-sac
  lib/unix/nearest-config-file
Due: none

maybe that will convince github to style the make-lint prompts?
  lib/ci/prompt-color
Due: none

automatically use .config/tacos-gha/slices.allowlist
  lib/tacos/dependent_slices.py
  lib/tacos/path_filter.py
  lib/tacos/slices
Due: black, isort, pyright, mypy, pyright-verifytypes-lib

fix for sometimes-uncolorized prompts in gha logs
  lib/ci/default-shell-post-sudo
Due: none

fix PATH problems
  lib/ci/set-terraformer
  lib/getsentry-sac/sudo-sac
Due: none

WIP: Check -> CheckFilter
  manual_tests/behaviors/apply_on_update.py
  manual_tests/behaviors/drift_detection.py
  manual_tests/behaviors/force_unlock_on_dirty.py
  manual_tests/behaviors/force_unlock_on_happy_path.py
  manual_tests/behaviors/lock_on_pr.py
  manual_tests/behaviors/message_on_lock_failure.py
  manual_tests/behaviors/unlock_on_merge.py
  manual_tests/lib/gh/check.py
  manual_tests/lib/gh/check_run.py
  manual_tests/lib/gh/pr.py
  manual_tests/lib/gh/types.py
  manual_tests/scenarios/abandon_a_branch.py
  manual_tests/scenarios/draft_pr.py
  manual_tests/scenarios/drift_remediation.py
  manual_tests/scenarios/feature_branch_happy_path.py
  manual_tests/scenarios/lock_contention.py
  manual_tests/scenarios/separate_changes_dont_conflict.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

lint: work around shellcheck regression
  .shellcheckrc
  lib/tf-lock/tf-lock
  lib/tf-lock/tf-lock-acquire
  lib/tf-lock/tf-lock-id
Due: none

lint: we were missing some files in the list before
  .pre-commit-config.yaml
  bin/git-ls-mimetype
  lib/git/ls-python
  lib/git/ls-sh
  lib/make/bin/black
  lib/make/bin/isort
  lib/make/bin/mypy
  lib/make/bin/prettier
  lib/make/bin/pyright
  lib/make/bin/shellcheck
  lib/make/format
  lib/make/lint
  manual_tests/lib/gh/gh.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

lint: mypy wants things to be unambiguously importable
  bin/tf-lock
  bin/tf-lock-release
  lib/ci/obtain-lock
  lib/ci/release-lock
  lib/tacos/locks
  lib/tf_lock/TESTING.md
  lib/tf_lock/__init__.py
  lib/tf_lock/lib/__init__.py
  lib/tf_lock/lib/env.sh
  lib/tf_lock/lib/error2json
  lib/tf_lock/lib/error2json.sed
  lib/tf_lock/lib/lock-id.jq
  lib/tf_lock/lib/py.typed
  lib/tf_lock/lib/tf_lock_acquire.py
  lib/tf_lock/tf-lock
  lib/tf_lock/tf-lock-acquire
  lib/tf_lock/tf-lock-id
  lib/tf_lock/tf-lock-info
  lib/tf_lock/tf-lock-release
  lib/tf_lock/tf-state-info
  manual_tests/lib/slice.py
Due: black, isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

sudo-gcp: fold in sudo-sac
  .config/sudo-gcp/service-account
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_lock.yml
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
  bin/sudo-gcp
  bin/sudo-sac
  lib/ci/set-terraformer
  lib/gcloud/gcloud-auth-export-access-token
  lib/gcloud/sudo-gcp
  lib/gcloud/sudo-gcp-service-account
  lib/getsentry-sac/sudo-sac
  lib/tacos/locks
  manual_tests/lib/slice.py
  manual_tests/lib/tf.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

fix import error during dependent-slices
  lib/ci/dependent-slices
Due: none

use gh cli for approval, for better visibility
  lib/sh/core.py
  manual_tests/conftest.py
  manual_tests/lib/gh/pr.py
Due: black, isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

sudo-gcp: fix handling of older format
  lib/gcloud/sudo-gcp-service-account
Due: none

wip: tacos-gha apply
  lib/terragrunt/terragrunt-noninteractive
  manual_tests/behaviors/apply_on_update.py
  manual_tests/behaviors/message_on_lock_failure.py
  manual_tests/conftest.py
  manual_tests/lib/gh/check.py
  manual_tests/lib/gh/check_run.py
  manual_tests/lib/gh/pr.py
  manual_tests/lib/tf.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

fix t-flock paths
  lib/tf_lock/tf-lock
  lib/tf_lock/tf-lock-release
Due: none

solve the HERE problem, once and for all?
  .shellcheckrc
  bin/nearest-config-file
  bin/tf-lock-acquire
  bin/tf-lock-info
  lib/ci/default-shell
  lib/ci/default-shell-post-sudo
  lib/ci/obtain-lock
  lib/ci/release-lock
  lib/ci/set-terraformer
  lib/ci/set-workload-identity-provider
  lib/gcloud/sudo-gcp
  lib/gcloud/sudo-gcp-service-account
  lib/git/ls-python
  lib/git/ls-sh
  lib/make/format
  lib/make/lint
  lib/tacos/dependent-slices
  lib/tacos/locks
  lib/tacos/slices
  lib/tf_lock/lib/error2json
  lib/tf_lock/tf-lock
  lib/tf_lock/tf-lock-acquire
  lib/tf_lock/tf-lock-info
Due: none

wip: tacos-apply
  .github/workflows/tacos_apply.yml
  lib/ci/tacos-apply
  lib/tf_lock/tf-lock
Due: none

wip: tacos-apply
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_lock.yml
  .github/workflows/tacos_unlock.yml
Due: none

wip: tacos-apply: add python
  .github/workflows/tacos_apply.yml
Due: none

allow for old-ass macos bash
  lib/github/log-as-step-summary
  lib/terragrunt/terragrunt-noninteractive
Due: none

wip: tacos-apply
  manual_tests/behaviors/apply_on_update.py
  manual_tests/lib/gh/check_run.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

tf_lock: improved error messaging
  lib/tf_lock/tf-lock-acquire
  lib/tf_lock/tf-lock-info
  lib/tf_lock/tf-lock-release
Due: none

wip: tacos-apply
  .github/workflows/tacos_apply.yml
Due: none

pr.get-check-runs is a generator again
  manual_tests/lib/gh/pr.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

delete unused tf-lock-id
  lib/tf_lock/lib/lock-id.jq
  lib/tf_lock/tf-lock-id
Due: none

fix: s/REPO_TOP/TACOS_GHA_HOME/g
  .envrc
  bin/coverage-enabled
  lib/constants.py
  lib/gcloud/sudo-gcp
  lib/git/ls-python
  lib/git/ls-sh
  lib/make/bin/pyright-verifytypes
  lib/make/brew
  lib/make/pyenv
  lib/tf_lock/lib/env.sh
  lib/tf_lock/tf-lock
  lib/tf_lock/tf-lock-acquire
  lib/tf_lock/tf-lock-id
  manual_tests/conftest.py
  manual_tests/lib/slice.py
Due: black, isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

auto-commit: GHA deps, for test
  lib/tf_lock/tf-lock-acquire
  lib/tf_lock/tf_lock.py
Due: black, isort, pyright, mypy, pyright-verifytypes-lib

wip: tacos-apply
  manual_tests/lib/gh/check_run.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

fix: sh.cd was declining to cd sometimes
  lib/sh/cd.py
  manual_tests/lib/slice.py
  manual_tests/lib/tf.py
Due: black, isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

upgrade pyright, ignore spurious error for now
  lib/tacos/dependent_slices.py
  requirements-dev.in
  requirements-dev.txt
Due: black, isort, pyright, mypy, pyright-verifytypes-lib

fix: Slices.from_path accuracy
  lib/tacos/dependent_slices.py
  lib/tacos/slices.py
  manual_tests/lib/slice.py
Due: black, isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

test passing: apply-on-update
  lib/sh/io.py
  lib/tf_lock/tf_lock.py
  manual_tests/conftest.py
  manual_tests/lib/slice.py
  manual_tests/lib/tacos_demo.py
Due: black, isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

feat: sh.debug takes multiple args
  lib/sh/io.py
Due: black, isort, pyright, mypy, pyright-verifytypes-lib

feat(sh.io): enable printing unique log lines
  lib/sh/io.py
  lib/sh/io_test.py
  lib/sh/sh.py
Due: black, isort, pyright, mypy, pyright-verifytypes-lib

wip: tacos apply: automatically force-unlock after (and before) testing
  lib/tf_lock/tf_lock.py
  manual_tests/lib/slice.py
  manual_tests/lib/tacos_demo.py
Due: black, isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

feat(lib.wait): duplicate log lines suppressed during looping
  lib/wait.py
Due: black, isort, pyright, mypy, pyright-verifytypes-lib

auto-commit: .github, for test
  lib/tf_lock/tf_lock.py
Due: black, isort, pyright, mypy, pyright-verifytypes-lib

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pyright: any of: \.py$
  mypy: any of: \.py$
  pyright-verifytypes-lib: any of: ^lib/.*\.py$
  pyright-verifytypes-spec: any of: ^manual_tests/.*\.py$
