Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pyright, pyright-verifytypes-lib, pyright-verifytypes-spec

black:
  name: black
  entry: black
  language: system

isort:
  name: isort
  entry: isort
  language: system

pyright:
  name: pyright
  entry: ./lib/make/bin/pyright
  language: system

pyright-verifytypes-lib:
  name: 'pyright verify: lib'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib
  pass_filenames: false

pyright-verifytypes-spec:
  name: 'pyright verify: spec'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes spec
  pass_filenames: false

Support provider secrets
  .github/actions/setup/action.yml
  .github/workflows/tacos_plan.yml
Due: none

Move input to secrets
  .github/actions/setup/action.yml
Due: none

Try to use inputs
  .github/actions/setup/action.yml
Due: none

Actually pass the secrets
  .github/workflows/tacos_plan.yml
Due: none

Take new lines into account
  .github/actions/setup/action.yml
Due: none

add back newline
  .github/actions/setup/action.yml
Due: none

Move to inputs
  .github/workflows/tacos_plan.yml
Due: none

Remove new line
  .github/actions/setup/action.yml
Due: none

Remove new line
  .github/actions/setup/action.yml
  .github/workflows/tacos_plan.yml
Due: none

Actually move back to secrets
  .github/actions/setup/action.yml
  .github/workflows/tacos_plan.yml
Due: none

Actually conceal secret
  .github/actions/setup/action.yml
Due: none

Conceal secret entirely
  .github/actions/setup/action.yml
Due: none

Add the secrets to other actions
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_detect_drift.yml
Due: none

pivot: tf-provider-secrets -> custom-secrets
  .github/actions/setup/action.yml
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_detect_drift.yml
  .github/workflows/tacos_plan.yml
Due: none

fixup! pivot: tf-provider-secrets -> custom-secrets
  bin/gha-set-secret
  bin/gha-set-secrets
  lib/github_actions/set-secret
  lib/github_actions/set-secrets
  lib/github_actions/set-secrets-test
Due: pyright-verifytypes-lib

I doubt we can set a default for secrets
  .github/workflows/tacos_plan.yml
Due: none

we cannot have defaults
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_detect_drift.yml
Due: none

Fix syntax error
  .github/actions/setup/action.yml
Due: none

Troubleshoot gha-set-secrets
  lib/github_actions/set-secrets
Due: pyright-verifytypes-lib

Troubleshoot gha-set-secrets
  lib/github_actions/set-secret
  lib/github_actions/set-secrets
Due: pyright-verifytypes-lib

Troubleshoot again
  lib/github_actions/set-secrets
Due: pyright-verifytypes-lib

Troubleshoot again
  lib/github_actions/set-secret
  lib/github_actions/set-secrets
Due: pyright-verifytypes-lib

sh does not have redirections
  lib/github_actions/set-secret
Due: pyright-verifytypes-lib

adjust debug level
  lib/tf_lock/lib/env.sh
Due: pyright-verifytypes-lib

add skipped status
  spec/lib/gh/check_run.py
Due: black, isort, pyright, pyright-verifytypes-spec

Changes tests to account for changed comment format.
  spec/lib/tacos_demo.py
Due: black, isort, pyright, pyright-verifytypes-spec

Clarify action of parse_comment.
  spec/lib/tacos_demo.py
Due: black, isort, pyright, pyright-verifytypes-spec

black config: use the existing hugged-parenthesis style
  pyproject.toml
Due: none

add package `pudb`, for debugging
  requirements-dev.in
  requirements-dev.txt
Due: none

parse_comment: fix unit tests
  lib/ci/tacos_summary.py
  spec/lib/tacos_demo.py
  spec/lib/tacos_demo_test.py
Due: black, isort, pyright, pyright-verifytypes-lib, pyright-verifytypes-spec

Sets the TENV_ROOT envvar if the HOME envvar is changed.
  conftest.py
Due: black, isort, pyright

add required check workflow
  .github/workflows/required_check.yml
Due: none

update trigger
  .github/workflows/required_check.yml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes-lib: any of: ^lib/
  pyright-verifytypes-spec: any of: ^spec/
