Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier --write --ignore-unknown

      - id: black
        name: black
        language: system
        entry: black
        files: '\.py$'

      - id: isort
        name: isort
        language: system
        entry: isort
        files: '\.py$'

      - id: pyright
        name: pyright
        language: system
        entry: pyright
        files: '\.py$'

      - id: mypy
        name: mypy
        language: system
        entry: mypy
        files: '\.py$'

      - id: pyright-verifytypes-lib
        name: "pyright verify: lib"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib
        files: '^lib/.*\.py$'
        pass_filenames: false

      - id: pyright-verifytypes-spec
        name: "pyright verify: spec"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes manual_tests
        files: '^manual_tests/.*\.py$'
        pass_filenames: false

      - id: shellcheck
        name: shellcheck
        language: system
        entry: ./lib/make/bin/shellcheck

Adds more testing of the terraform plan.
  manual_tests/behaviors/plan_on_push.py
  manual_tests/lib/slice.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

Apply on update is passing
  manual_tests/behaviors/apply_on_update.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

Updates test for changes to plan output.
  manual_tests/behaviors/plan_on_push.py
  manual_tests/lib/slice.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

Chacks for case of extra slices.
  manual_tests/behaviors/plan_on_push.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

moving to this repo
  actions/scratch/action.yml
  actions/terraform_plan/action.yml
Due: none

terraform plan
  actions/terraform_plan/action.yml
Due: none

small fixes
  actions/scratch/action.yml
  actions/terraform_plan/action.yml
Due: none

moving this to a new pr
  actions/terraform_plan/action.yml
Due: none

refactoring files
  .github/actions/scratch/action.yml
  .github/actions/terraform_plan/action.yml
Due: none

shared workflows, imported from tacos-gha.demo@cd76725
  .github/shared-workflows/terraform_apply.yml
  .github/shared-workflows/terraform_detect_drift.yml
  .github/shared-workflows/terraform_lock.yml
  .github/shared-workflows/terraform_plan.yml
  .github/shared-workflows/terraform_unlock.yml
Due: none

Checking actual slices
  manual_tests/scenarios/draft_pr.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

Revert "Checking actual slices"
  manual_tests/scenarios/draft_pr.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

Fixing shared scripts in ci
  .github/shared-workflows/terraform_lock.yml
Due: none

Hard coding repo
  .github/shared-workflows/terraform_lock.yml
Due: none

have shell provide better output when failing for debug
  .github/actions/scratch/action.yml
Due: none

better
  .github/actions/scratch/action.yml
Due: none

Getting draft PR scenario nearly passing
  manual_tests/scenarios/draft_pr.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

lock_on_pr is passing
  .github/shared-workflows/terraform_lock.yml
  lib/constants.py
  lib/github-app/device-flow/README.md
  lib/tf-lock/TESTING.md
  lib/tf-lock/lib/error2json
  lib/tf-lock/lib/error2json.sed
  lib/tf-lock/lib/lock-id.jq
  lib/tf-lock/lib/tf-lock-acquire.exp
  lib/tf-lock/lib/tf-lock-info.exp
  lib/tf-lock/lib/tf_lock_acquire.py
  lib/tf-lock/tf-lock
  lib/tf-lock/tf-lock-acquire
  lib/tf-lock/tf-lock-id
  lib/tf-lock/tf-lock-info
  lib/tf-lock/tf-lock-release
  lib/tf-lock/tf-state-info
  lib/tf-lock/tf-unlock
  manual_tests/behaviors/apply_on_update.py
  manual_tests/behaviors/lock_on_pr.py
  manual_tests/lib/slice.py
  manual_tests/scenarios/draft_pr.py
  manual_tests/scenarios/lock_contention.py
Due: black, isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

Cleaning up force_unlock_on_happy_path test, closer to passing
  manual_tests/behaviors/force_unlock_on_happy_path.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

shared workflows must exist in ./.github/workflows
  .github/workflows/terraform_apply.yml
  .github/workflows/terraform_detect_drift.yml
  .github/workflows/terraform_lock.yml
  .github/workflows/terraform_plan.yml
  .github/workflows/terraform_unlock.yml
Due: none

rename workflows as tacos
  .github/workflows/scratch.yml
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_detect_drift.yml
  .github/workflows/tacos_lock.yml
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
Due: none

imported from .demo repo, verbatim
  .envrc
  .github/actions/scratch/action.yml
  .github/actions/set-username-and-hostname/action.yml
  .github/notes.md
  .github/workflows/tacos_detect_drift.yml
  .github/workflows/tacos_lock.yml
  .github/workflows/tacos_unlock.yml
  bin/flock
  bin/sac-terraformer
  bin/sudo-gcp
  bin/sudo-sac
  lib/ci/default-shell
  lib/ci/dependent-slices
  lib/ci/lock-acquisition-comment.js
  lib/ci/obtain-lock
  lib/ci/prompt-color
  lib/ci/release-lock
  lib/ci/set-terraformer
  lib/ci/set-workload-identity-provider
  lib/gcloud/gcloud-auth-export-access-token
  lib/gcloud/sudo-gcp
  lib/getsentry-sac/oidc-provider
  lib/getsentry-sac/sac-terraformer
  lib/getsentry-sac/sudo-sac
  lib/github/delete-comment.graphql
  lib/github/expire-old-plan-comments.sh
  lib/github/log-as-step-summary
  lib/github/minimize-comment.graphql
  lib/github/set-env
  lib/github/set-output
  lib/tacos/__init__.py
  lib/tacos/dependent-slices
  lib/tacos/dependent_slices.py
  lib/tacos/dependent_slices_test.py
  lib/terragrunt/slices
  lib/unix/nearest-config-file
  lib/unix/uncolor
Due: black, isort, pyright, mypy, pyright-verifytypes-lib

export reusable workflows
  .envrc
  .github/README.md
  .github/actions/scratch/action.yml
  .github/actions/set-username-and-hostname/action.yml
  .github/actions/terraform_plan/action.yml
  .github/workflows/scratch.yml
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_detect_drift.yml
  .github/workflows/tacos_lock.yml
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
  lib/ci/dependent-slices
  lib/ci/obtain-lock
  lib/ci/set-terraformer
  lib/ci/set-workload-identity-provider
  lib/getsentry-sac/sudo-sac
  lib/github/log-as-step-summary
  lib/tflock.go/.goreleaser.yml
  lib/tflock.go/LICENSE
  lib/tflock.go/README.md
  lib/tflock.go/go.mod
  lib/tflock.go/go.sum
  lib/tflock.go/main.go
Due: none

update needs
  .github/workflows/tacos_lock.yml
  lib/github/delete-comment.graphql
  lib/github/expire-old-plan-comments.sh
Due: none

set $PYTHON_VERSION
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_lock.yml
  .github/workflows/tacos_unlock.yml
  lib/github/set-env
Due: none

Adding additional assertions
  manual_tests/behaviors/force_unlock_on_happy_path.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

Fixing check workflow names and names
  manual_tests/behaviors/apply_on_update.py
  manual_tests/behaviors/force_unlock_on_dirty.py
  manual_tests/behaviors/force_unlock_on_happy_path.py
  manual_tests/behaviors/lock_on_pr.py
  manual_tests/behaviors/unlock_on_merge.py
  manual_tests/lib/gh/check.py
  manual_tests/lib/gh/pr.py
  manual_tests/lib/gh/types.py
  manual_tests/lib/tacos_demo.py
  manual_tests/scenarios/abandon_a_branch.py
  manual_tests/scenarios/feature_branch_happy_path.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

Clean up code
  manual_tests/lib/gh/check.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

get plan-on-apply working again
  .envrc
  conftest.py
  lib/constants.py
  lib/github-app/device-flow/README.md
  lib/make/format
  lib/make/lint
  lib/sh/cd.py
  lib/tacos/dependent_slices.py
  lib/tacos/dependent_slices_test.py
  lib/tf-lock/lib/__init__.py
  lib/tf-lock/lib/py.typed
  lib/tf-lock/tf-lock-release
  lib/types.py
  lib/unix/git-ls-mimetype
  lib/unix/git-ls-python
  lib/unix/git-ls-sh
  lib/unix/nearest-config-file
  manual_tests/behaviors/apply_on_update.py
  manual_tests/behaviors/force_unlock_on_dirty.py
  manual_tests/behaviors/force_unlock_on_happy_path.py
  manual_tests/behaviors/lock_on_pr.py
  manual_tests/behaviors/unlock_on_merge.py
  manual_tests/conftest.py
  manual_tests/lib/gh/check.py
  manual_tests/lib/gh/check_run.py
  manual_tests/lib/gh/pr.py
  manual_tests/lib/gh/repo.py
  manual_tests/lib/slice.py
  manual_tests/lib/slice_test.py
  manual_tests/lib/tacos_demo.py
  manual_tests/lib/tf.py
  manual_tests/scenarios/abandon_a_branch.py
  manual_tests/scenarios/draft_pr.py
  manual_tests/scenarios/separate_changes_dont_conflict.py
  pyproject.toml
  requirements-dev.in
  requirements-dev.txt
Due: black, isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

remove js-style attribute names
  manual_tests/behaviors/message_on_lock_failure.py
  manual_tests/lib/gh/check.py
  manual_tests/lib/gh/check_run.py
  manual_tests/scenarios/draft_pr.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

Updating envrc
  .envrc
Due: none

for test
  .envrc
Due: none

auto-commit: .github, for test
  .github/workflows/tacos_lock.yml
Due: none

debug: show sudoers config
  .github/workflows/tacos_lock.yml
Due: none

debug: two-phase default shell: sudo, post-sudo
  lib/ci/default-shell
  lib/ci/default-shell-post-sudo
Due: none
