Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pyright, pyright-verifytypes-lib, pyright-verifytypes-spec

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: system
        types:
          - text

      - id: black
        name: black
        entry: black
        language: system
        types:
          - python

      - id: isort
        name: isort
        entry: isort
        language: system
        types:
          - python

      - id: pyright
        name: pyright
        entry: ./lib/make/bin/pyright
        language: system
        types:
          - python

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types:
          - shell

      - id: pyright-verifytypes-lib
        name: "pyright verify: lib"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib
        files: "^lib/"
        pass_filenames: false

      - id: pyright-verifytypes-spec
        name: "pyright verify: spec"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes spec
        files: "^spec/"
        pass_filenames: false

fix: Better errors for too many slices touched (#289)
  .github/actions/matrix-fan-in/rename-tmp-dirs.sh
Due: none

Removes unlock label.
  etc/labels.jq
Due: none

Removes label handling from unlock workflow.
  .github/workflows/tacos_unlock.yml
Due: none

Removes unlock label. (#290)
  .github/workflows/tacos_unlock.yml
  etc/labels.jq
Due: none

chore: pin GitHub Actions to full-length commit SHAs
  .github/actions/just-the-basics/action.yml
  .github/actions/list-slices/action.yml
  .github/actions/matrix-fan-in/action.yml
  .github/actions/matrix-fan-out/action.yml
  .github/actions/setup/action.yml
  .github/workflows/required_check.yml
  .github/workflows/reset-label.yml
  .github/workflows/scratch.yml
  .github/workflows/selftest-matrix-io.yml
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_conflict_detection.yml
  .github/workflows/tacos_detect_drift.yml
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
Due: none

chore: pin GitHub Actions to full-length commit SHAs (#297)
  .github/actions/just-the-basics/action.yml
  .github/actions/list-slices/action.yml
  .github/actions/matrix-fan-in/action.yml
  .github/actions/matrix-fan-out/action.yml
  .github/actions/setup/action.yml
  .github/workflows/required_check.yml
  .github/workflows/reset-label.yml
  .github/workflows/scratch.yml
  .github/workflows/selftest-matrix-io.yml
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_conflict_detection.yml
  .github/workflows/tacos_detect_drift.yml
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
Due: none

Starts some hacks for newer terragrunt.
  lib/tf_lock/lib/env.py
  lib/tf_lock/lib/env.sh
Due: black, isort, pyright, pyright-verifytypes-lib

The validate inputs step is still important.
  lib/tf_lock/lib/env.py
  lib/tf_lock/lib/env.sh
Due: black, isort, pyright, pyright-verifytypes-lib

run-all to run --all.
  lib/tacos/apply
  lib/tacos/plan
Due: pyright-verifytypes-lib

Adds -- to separate arguments.
  lib/tacos/apply
  lib/tacos/plan
Due: pyright-verifytypes-lib

Emarks/tg version fix (#302)
  lib/tacos/apply
  lib/tacos/plan
  lib/tf_lock/lib/env.py
  lib/tf_lock/lib/env.sh
Due: black, isort, pyright, pyright-verifytypes-lib

Also fixes release.py.
  lib/tf_lock/release.py
Due: black, isort, pyright, pyright-verifytypes-lib

Also fixes release.py. (#304)
  lib/tf_lock/release.py
Due: black, isort, pyright, pyright-verifytypes-lib

fix: handle TG 1.x log prefixes in apply/plan summary classification
  lib/ci/bin/tf-step-summary
  lib/ci/tacos_summary.py
Due: black, isort, pyright, pyright-verifytypes-lib

fix: handle TG 1.x log prefixes in apply/plan summary classification (#305)
  lib/ci/bin/tf-step-summary
  lib/ci/tacos_summary.py
Due: black, isort, pyright, pyright-verifytypes-lib

fix: use version prefix match for Terragrunt 0.x vs 1.x command selection
  lib/tacos/apply
  lib/tacos/plan
  lib/tf_lock/lib/env.py
  lib/tf_lock/lib/env.sh
  lib/tf_lock/release.py
Due: black, isort, pyright, pyright-verifytypes-lib

fix: use version prefix match for Terragrunt 0.x (#309)
  lib/tacos/apply
  lib/tacos/plan
  lib/tf_lock/lib/env.py
  lib/tf_lock/lib/env.sh
  lib/tf_lock/release.py
Due: black, isort, pyright, pyright-verifytypes-lib

feat: add DD_API_KEY and DD_APP_KEY secret inputs to reusable workflows
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_detect_drift.yml
  .github/workflows/tacos_plan.yml
Due: none

feat: add Datadog secret inputs to reusable workflows (#313)
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_detect_drift.yml
  .github/workflows/tacos_plan.yml
Due: none

Add .tacos-disabled sentinel file to skip slices
  doc/USER_GUIDE.md
  lib/tacos/dependent_slices.py
  lib/tacos/dependent_slices_test.py
  lib/tacos/path_filter.py
  lib/tacos/path_filter_test.py
Due: black, isort, pyright, pyright-verifytypes-lib

Fix misleading test name and document lock interaction
  doc/USER_GUIDE.md
  lib/tacos/dependent_slices_test.py
Due: black, isort, pyright, pyright-verifytypes-lib

Skip disabled-slice filter during unlock
  .github/workflows/tacos_unlock.yml
  doc/USER_GUIDE.md
  lib/tacos/dependent_slices.py
Due: black, isort, pyright, pyright-verifytypes-lib

Fix match() bypassing TACOS_IGNORE_DISABLED
  lib/tacos/dependent_slices.py
  lib/tacos/path_filter.py
  lib/tacos/path_filter_test.py
Due: black, isort, pyright, pyright-verifytypes-lib

Post PR comment when disabled slices are touched
  .github/actions/list-slices/action.yml
  .github/actions/notify-disabled-slices/action.yml
  .github/workflows/tacos_plan.yml
  doc/USER_GUIDE.md
  lib/ci/list-slices
  lib/tacos/dependent_slices.py
  lib/tacos/path_filter.py
  lib/tacos/path_filter_test.py
Due: black, isort, pyright, pyright-verifytypes-lib

Fix shell injection and stale comment in notify-disabled-slices
  .github/actions/notify-disabled-slices/action.yml
Due: none

Prevent disabled-slice notification from blocking planning
  .github/actions/notify-disabled-slices/action.yml
  .github/workflows/tacos_plan.yml
Due: none

Use random heredoc delimiter in notify-disabled-slices
  .github/actions/notify-disabled-slices/action.yml
Due: none

Refuse symlinked .tacos-disabled sentinels to prevent content leak
  lib/tacos/path_filter.py
  lib/tacos/path_filter_test.py
Due: black, isort, pyright, pyright-verifytypes-lib

Reject symlinked sentinels in _is_disabled_from_fs too
  lib/tacos/path_filter.py
  lib/tacos/path_filter_test.py
Due: black, isort, pyright, pyright-verifytypes-lib

Upgrade notify-disabled-slices to actions-comment-pull-request v3.0.1
  .github/actions/notify-disabled-slices/action.yml
Due: none

Remove Spacelift reference from user guide example
  doc/USER_GUIDE.md
Due: none

Add .tacos-disabled sentinel file to skip slices (#315)
  .github/actions/list-slices/action.yml
  .github/actions/notify-disabled-slices/action.yml
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
  doc/USER_GUIDE.md
  lib/ci/list-slices
  lib/tacos/dependent_slices.py
  lib/tacos/dependent_slices_test.py
  lib/tacos/path_filter.py
  lib/tacos/path_filter_test.py
Due: black, isort, pyright, pyright-verifytypes-lib

Adds tofu binary to the action
  .github/actions/setup/action.yml
Due: none

Adds tofu binary to the action (#317)
  .github/actions/setup/action.yml
Due: none

Fix dependent slices for deleted configs
  lib/tacos/dependent_slices.py
  lib/tacos/dependent_slices_test.py
Due: black, isort, pyright, pyright-verifytypes-lib

Fix apply failure after OpenTofu switch by using configured binary
  lib/ci/bin/terragrunt-noninteractive
  lib/tf_lock/lib/acquire.py
  lib/tf_lock/tf-lock-info
Due: black, isort, pyright, pyright-verifytypes-lib

Add -reconfigure to TF_CLI_ARGS_init for backend reinitialization
  lib/ci/bin/terragrunt-noninteractive
Due: pyright-verifytypes-lib

Fix tf-lock-info error pattern to match tofu's error message
  lib/tf_lock/tf-lock-info
Due: pyright-verifytypes-lib

Remove end-of-line anchor from tf-lock-info "object doesn't exist" pattern
  lib/tf_lock/tf-lock-info
Due: pyright-verifytypes-lib
