Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec, pyright-verifytypes-tf-lock

isort:
  name: isort
  language: system
  entry: isort

pyright:
  name: pyright
  language: system
  entry: pyright

mypy:
  name: mypy
  language: system
  entry: mypy

pyright-verifytypes-lib:
  name: 'pyright verify: lib'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib
  pass_filenames: false

pyright-verifytypes-spec:
  name: 'pyright verify: spec'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes manual_tests
  pass_filenames: false

pyright-verifytypes-tf-lock:
  name: 'pyright verify: tf-lock'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib/tf_lock/lib
  pass_filenames: false

move conflict-detection to its own script
  .github/workflows/tacos_conflict_detection.yml
  lib/ci/tacos-conflict-detection
Due: pyright-verifytypes-lib

transliterate conflict-detection to python
  lib/ci/tacos-conflict-detection
  lib/functions.py
  lib/sh/core.py
  lib/types.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

conflict detection: reuse lib.wait
  lib/ci/tacos-conflict-detection
Due: pyright-verifytypes-lib

Bumping gha deps to use node20
  .github/actions/list-slices/action.yml
  .github/actions/setup/action.yml
Due: none

Use semver
  .github/actions/list-slices/action.yml
Due: none

install-labels: working
  etc/labels.jq
  lib/ansi.py
  lib/sh/io.py
  lib/tacos/install-labels
  lib/tacos/install_labels.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

wip: conflict detection removes its message iff it exists
  .github/workflows/tacos_conflict_detection.yml
  lib/ci/tacos-conflict-detection
  spec/behaviors/message_on_conflict.py
  spec/conftest.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

allow for multiple labels in reset-label
  .github/workflows/reset-label.js
  .github/workflows/tacos_conflict_detection.yml
Due: none

black broke preview style somehow...
  .github/workflows/tacos_conflict_detection.yml
  TODO.grep.md
  lib/ci/tacos-conflict-detection
  lib/functions.py
  lib/sh/core.py
  lib/sh/core_test.py
  requirements-dev.in
  requirements-dev.txt
  spec/behaviors/plan_on_push.py
  spec/conftest.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

switch default encoding to UTF8 -- apparently gh api returns this in json
  lib/sh/constant.py
  lib/sh/core.py
  lib/sh/json.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

feat(json): a typesafe `get` function
  lib/json.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

fix
  .github/workflows/tacos_conflict_detection.yml
  lib/ci/tacos-conflict-detection
Due: pyright-verifytypes-lib

checked that all steps have a `name`
  .github/workflows/reset-label.yml
  .github/workflows/scratch.yml
  .github/workflows/selftest-matrix-io.yml
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_detect_drift.yml
Due: none

it's counterproductive to wait for a merged PR's mergeability
  lib/ci/tacos-conflict-detection
Due: pyright-verifytypes-lib

testing...
  lib/ci/tacos-conflict-detection
  lib/functions.py
  lib/tacos/conflict_detection.py
  spec/behaviors/message_on_conflict.py
  spec/lib/gh/check_run.py
  spec/lib/tacos_demo.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

test successfull: behaviors/message_on_conflict
  etc/gitconfig
  spec/conftest.py
  spec/lib/gh/pr.py
  spec/lib/tacos_demo.py
Due: isort, pyright, mypy

reduce scope of `auth` fixtures -- split environ and session-environ
  conftest.py
  spec/conftest.py
Due: isort, pyright, mypy

reorder spec fixtures
  spec/conftest.py
Due: isort, pyright, mypy

fix: fixtures
  conftest.py
  lib/env.py
  spec/conftest.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

fix(test): behavior/apply-on-update is less racy now
  spec/behaviors/apply_on_update.py
Due: isort, pyright, mypy

prevent a dozen 1p prompts during parallel `make test`
  spec/lib/gh/app.py
Due: isort, pyright, mypy

Adds a user guide and example workflow files.
  doc/USER_GUIDE.md
  doc/workflows/terraform_apply.yml
  doc/workflows/terraform_conflict.yml
  doc/workflows/terraform_detect_drift.yml
  doc/workflows/terraform_plan.yml
  doc/workflows/terraform_unlock.yml
Due: none

Updates docs about allowlist fallthrough.
  doc/USER_GUIDE.md
Due: none

Makes plan obey the apply and drift lists, and apply obey drift.
  .github/actions/list-slices/action.yml
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_plan.yml
  lib/tacos/dependent_slices.py
  lib/tacos/path_filter.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

limit lib/sh/sh.py to just one star-import
  lib/pytest/configure_pytest_repr_length.py
  lib/sh/sh.py
  lib/tacos/install_labels.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

updating matrix action, for real-world use
  .github/actions/matrix-fan-in/selftest.sh
  .github/actions/matrix-fan-out/README.md
  .github/actions/matrix-fan-out/selftest.sh
  .github/actions/matrix-fan-out/square.py
Due: isort, pyright, mypy

wip: summary fan-in for tacos-plan
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_plan.yml
  lib/ci/bin/tf-step-summary
  lib/ci/tacos-plan
  lib/github_actions/set-artifact
  lib/github_actions/set-output
Due: pyright-verifytypes-lib

allow for pre-existing artifacts
  .github/actions/matrix-fan-out/selftest.sh
Due: none

minimal matrixing
  .github/workflows/selftest-matrix-io.yml
Due: none

fan-out: send steps context
  .github/actions/matrix-fan-out/action.yml
  .github/actions/matrix-fan-out/prepare.sh
Due: none

send steps, moar
  .github/actions/matrix-fan-out/action.yml
  .github/workflows/selftest-matrix-io.yml
Due: none

can do via default?
  .github/actions/matrix-fan-out/action.yml
  .github/workflows/selftest-matrix-io.yml
Due: none

no, can't
  .github/actions/matrix-fan-out/action.yml
  .github/workflows/selftest-matrix-io.yml
Due: none

actions/matrix: prepare.py
  .github/actions/matrix-fan-out/action.yml
  .github/actions/matrix-fan-out/prepare.py
  .github/actions/matrix-fan-out/prepare.sh
  lib/ci/tacos-plan
Due: isort, pyright, mypy, pyright-verifytypes-lib

handle directory artifacts
  .github/actions/matrix-fan-out/prepare.py
  .github/actions/matrix-fan-out/selftest.sh
Due: isort, pyright, mypy

dont try to guess filetypes
  .github/actions/matrix-fan-out/prepare.py
  .github/actions/matrix-fan-out/selftest.sh
Due: isort, pyright, mypy

restore "keys-job"
  .github/workflows/selftest-matrix-io.yml
Due: none

Mentions labels being reserved for the original user.
  doc/USER_GUIDE.md
Due: none

tacos-plan: fan out/in
  .github/workflows/tacos_plan.yml
  bin/gha-set-artifact
  lib/github_actions/set-artifact
  spec/conftest.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

doc(todo): updates for standup
  TODO.md
Due: none

Path conditions:
  isort: any of: \.py$
  pyright: any of: \.py$
  mypy: any of: \.py$
  pyright-verifytypes-lib: any of: ^lib/
  pyright-verifytypes-spec: any of: ^manual_tests/
  pyright-verifytypes-tf-lock: any of: ^lib/tf_lock/lib/
