Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec, pyright-verifytypes-tf-lock

isort:
  name: isort
  language: system
  entry: isort

pyright:
  name: pyright
  language: system
  entry: pyright

mypy:
  name: mypy
  language: system
  entry: mypy

pyright-verifytypes-lib:
  name: 'pyright verify: lib'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib
  pass_filenames: false

pyright-verifytypes-spec:
  name: 'pyright verify: spec'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes manual_tests
  pass_filenames: false

pyright-verifytypes-tf-lock:
  name: 'pyright verify: tf-lock'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib/tf_lock/lib
  pass_filenames: false

auto-commit: GHA deps, for test
  .envrc
Due: none

Setup
  .python-version
  etc/gitconfig
  spec/conftest.py
Due: isort, pyright, mypy

Fixing paths filter version
  .github/actions/list-slices/action.yml
Due: none

doc(todo): updates for weekly
  TODO.md
Due: none

auto-commit: GHA deps, for test
  .github/workflows/tacos_plan.yml
  lib/github_actions/set-artifact
Due: pyright-verifytypes-lib

removing 3.8
  .python-version
Due: none

feat(actions/matrix): attempt to simplify a bit more
  .github/actions/matrix-fan-in/rename-tmp.sh
  .github/actions/matrix-fan-in/selftest.sh
  .github/actions/matrix-fan-out/artifact-name.sh
  .github/actions/matrix-fan-out/prepare.py
  .github/actions/matrix-fan-out/selftest.sh
  .github/workflows/selftest-matrix-io.yml
  lib/github_actions/set-artifact
Due: isort, pyright, mypy, pyright-verifytypes-lib

auto-commit: GHA deps, for test
  lib/tf_lock/tf-lock-acquire
Due: pyright-verifytypes-lib

testing
  lib/tf_lock/tf-lock-acquire
Due: pyright-verifytypes-lib

wip: tacos-plan-summary
  .github/workflows/tacos_plan.yml
  lib/ci/bin/tf-step-summary
  lib/ci/tacos-plan
  lib/ci/tacos-plan-summary
Due: pyright-verifytypes-lib

lets try this
  lib/tf_lock/tf-lock-acquire
Due: pyright-verifytypes-lib

permission error when trying to hardlink
  .github/actions/matrix-fan-out/prepare.py
Due: isort, pyright, mypy

try this
  lib/tf_lock/tf-lock-acquire
Due: pyright-verifytypes-lib

simpler again
  .github/actions/matrix-fan-in/selftest.sh
  .github/workflows/tacos_plan.yml
  lib/ci/bin/tf-step-summary
  lib/ci/tacos-plan
Due: pyright-verifytypes-lib

I don't love json
  lib/ci/bin/tf-step-summary
Due: pyright-verifytypes-lib

debug: why so permission error
  lib/ci/bin/tf-step-summary
Due: pyright-verifytypes-lib

make new files/dirs group-writable by default
  lib/ci/bin/default-shell-post-sudo
Due: pyright-verifytypes-lib

debug: why so permission error (2)
  .github/actions/matrix-fan-out/action.yml
Due: none

un-adjust default user's groups
  .github/actions/set-username-and-hostname/action.yml
  .github/workflows/tacos_plan.yml
Due: none

avoid inappropriate newlines
  .github/actions/setup/action.yml
  .github/workflows/tacos_unlock.yml
Due: none

plan with detailed exit code
  lib/ci/bin/terragrunt
  lib/ci/bin/tf-step-summary
  lib/tacos/plan
Due: pyright-verifytypes-lib

wip: plan summary
  lib/ci/bin/tf-step-summary
  lib/ci/tacos-plan-summary
  lib/json.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

add a markdown-summary step to matrix-selftest
  .github/actions/matrix-fan-in/action.yml
  .github/actions/matrix-fan-in/artifact-name.sh
  .github/actions/matrix-fan-in/rename-tmp-dir.sh
  .github/actions/matrix-fan-in/rename-tmp-dirs.sh
  .github/actions/matrix-fan-in/selftest-summary.sh
  .github/actions/matrix-fan-in/selftest.sh
  .github/actions/matrix-fan-in/set-artifact-name.sh
  .github/actions/matrix-fan-out/action.yml
  .github/actions/matrix-fan-out/prepare.py
  .github/actions/matrix-fan-out/prepare.sh
  .github/actions/matrix-fan-out/selftest.sh
  .github/actions/matrix-fan-out/set-artifact-name.sh
  .github/workflows/selftest-matrix-io.yml
Due: isort, pyright, mypy

Refactored tf-lock-acquire and env.sh to python
  activate.sh
  lib/tf_lock/lib/__init__.py
  lib/tf_lock/lib/env.py
  lib/tf_lock/lib/env.sh
  lib/tf_lock/tf-lock-acquire
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

Refactored tf-lock-acquire and env.sh to python
  lib/tf_lock/lib/env.py
  lib/tf_lock/lib/env.sh
  lib/tf_lock/release.py
  lib/tf_lock/tf-lock-acquire
  spec/behaviors/plan_on_push.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

make look like release
  lib/tf_lock/tf-lock-acquire
Due: pyright-verifytypes-lib

acquire.py
  lib/tf_lock/acquire.py
  lib/tf_lock/lib/acquire.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

fixing imports
  lib/tf_lock/acquire.py
  lib/tf_lock/lib/env.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

wip: plan fan-in summary
  .github/actions/matrix-fan-in/rename-tmp-dirs.sh
  .github/workflows/tacos_plan.yml
  lib/ci/bin/tf-step-summary
  lib/ci/tacos-plan-summary
Due: pyright-verifytypes-lib

debug: why u no output
  .github/workflows/tacos_plan.yml
  lib/ci/tacos-plan-summary
  lib/github_actions/step-summary
Due: pyright-verifytypes-lib

fix(step-summary): subshell was gobbling an error
  lib/ci/bin/tf-step-summary
  lib/ci/tacos-plan-summary
  lib/github_actions/step-summary
Due: pyright-verifytypes-lib

better formatted message. need to add some color
  lib/tf_lock/acquire.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

wip: plan fan-in summary
  lib/ci/tacos-plan-summary
  spec/behaviors/plan_on_push.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

DRY the gha summary/details markup a bit
  lib/ci/tacos-plan-summary
Due: pyright-verifytypes-lib

Path conditions:
  isort: any of: \.py$
  pyright: any of: \.py$
  mypy: any of: \.py$
  pyright-verifytypes-lib: any of: ^lib/
  pyright-verifytypes-spec: any of: ^manual_tests/
  pyright-verifytypes-tf-lock: any of: ^lib/tf_lock/lib/
