Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec, pyright-verifytypes-tf-lock

isort:
  name: isort
  language: system
  entry: isort

pyright:
  name: pyright
  language: system
  entry: pyright

mypy:
  name: mypy
  language: system
  entry: mypy

pyright-verifytypes-lib:
  name: 'pyright verify: lib'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib
  pass_filenames: false

pyright-verifytypes-spec:
  name: 'pyright verify: spec'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes manual_tests
  pass_filenames: false

pyright-verifytypes-tf-lock:
  name: 'pyright verify: tf-lock'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib/tf_lock/lib
  pass_filenames: false

feat: plan/apply summary readability improvements
  .gitignore
  TODO.md
  lib/ci/bin/ci-tf-init
  lib/ci/bin/ci-tf-refresh
  lib/ci/bin/default-shell-post-sudo
  lib/ci/bin/prompt-color
  lib/ci/bin/quieten
  lib/ci/bin/tf-step-summary
  lib/ci/bin/with-user-env
  lib/ci/default-shell
  lib/ci/tacos-apply
  lib/ci/tacos-plan
  lib/ci/tacos-unlock
  lib/terragrunt/terragrunt-noninteractive
  lib/tf_lock/tf-lock
Due: pyright-verifytypes-lib

rename terragrunt-noninteractive to just lib/ci/bin/terragrunt
  bin/terragrunt
  bin/terragrunt-noninteractive
  bin/terragrunt-slices
  lib/ci/lib/terragrunt
  lib/ci/tacos-apply
  lib/ci/tacos-detect-drift
  lib/ci/tacos-plan
  lib/terragrunt/slices
  lib/terragrunt/terragrunt-noninteractive
  lib/terragrunt/terragrunt.help
  spec/conftest.py
  spec/lib/tf.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

bin/super: cooperative script shadowing
  bin/super
  lib/unix/super
Due: pyright-verifytypes-lib

swap order of usernames in tf-lock failure messages
  lib/tf_lock/release.py
  lib/tf_lock/tf-lock-acquire
Due: isort, pyright, mypy, pyright-verifytypes-lib

Explicitely creates homedir for new user.
  .github/actions/set-username-and-hostname/action.yml
Due: none

Switch to a simpler ssh-agent.
  .github/actions/setup/action.yml
  lib/ssh/setup-ssh-agent
Due: pyright-verifytypes-lib

push path-symbolization down, into gha-step-summary
  lib/github-actions/step-summary
Due: pyright-verifytypes-lib

with lots of conditionals, turns out echo is more readable than heredocs
  lib/ci/bin/tf-step-summary
  lib/github-actions/log-as-step-summary
Due: pyright-verifytypes-lib

tf-lock-release: default to "."
  lib/tf_lock/release.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

put core functionality in lib/tacos scripts
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_unlock.yml
  bin/quietly
  lib/ci/lib/with-user-env
  lib/ci/tacos-apply
  lib/ci/tacos-plan
  lib/ci/tacos-unlock
  lib/ci/tacos-unlock-many
  lib/tacos/apply
  lib/tacos/lock
  lib/tacos/plan
  lib/tacos/unlock
  lib/unix/quietly
  spec/behaviors/apply_on_update.py
  spec/behaviors/force_unlock_on_happy_path.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

efficiency: don't list slices when the matrix wouldn't run anyhow
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
Due: none

Use a symlink instead of an actual homedir for our new user.
  .github/actions/set-username-and-hostname/action.yml
Due: none

Adds shebang and `set` and fixes shellcheck. Use existing $HOME.
  lib/ssh/setup-ssh-agent
Due: pyright-verifytypes-lib

Makes sure $HOME is set.
  lib/ci/default-shell
Due: pyright-verifytypes-lib

Stops writing the key to disk, just stores it in the agent directly.
  lib/ssh/setup-ssh-agent
Due: pyright-verifytypes-lib

Alters script organization.
  .github/actions/setup/action.yml
  bin/gha-ssh-agent
  lib/github-actions/ssh-agent
Due: pyright-verifytypes-lib

feat: plan/apply summary readability improvements
  .gitignore
  TODO.md
  lib/ci/bin/default-shell-post-sudo
  lib/ci/bin/prompt-color
  lib/ci/bin/terragrunt
  lib/ci/bin/tf-step-summary
  lib/ci/bin/with-user-env
  lib/ci/default-shell
  lib/tacos/lock
  lib/tf_lock/lib/env.sh
  lib/tf_lock/tf-lock
  spec/behaviors/apply_on_update.py
  spec/behaviors/plan_on_push.py
  spec/lib/gh/pr.py
  spec/lib/slice.py
  spec/lib/tacos_demo.py
  spec/lib/testing.py
  spec/scenarios/draft_pr.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

standup: update todos
  TODO.grep.md
  TODO.md
Due: none

printenv to stderr
  TODO.md
  lib/github-actions/printenv
Due: pyright-verifytypes-lib

fix(tg): terragrunt was failing to init for dependent slices
  TODO.md
  lib/ci/bin/terragrunt
  lib/tf_lock/lib/env.sh
  lib/unix/super
Due: pyright-verifytypes-lib, pyright-verifytypes-tf-lock

eof less
  lib/ci/tacos-apply
Due: pyright-verifytypes-lib

feat(tf-lock): re-enable $DEBUG behavior in lib/tf_lock
  lib/tf_lock/lib/env.sh
Due: pyright-verifytypes-lib, pyright-verifytypes-tf-lock

fix(test-in-parallel): need to tf-init during "first-time setup"
  spec/conftest.py
  spec/lib/tf.py
Due: isort, pyright, mypy

debug(tf-lock-info): show output of tf-init on third, final try
  lib/tf_lock/tf-lock-info
Due: pyright-verifytypes-lib

fix(test): Slices.force_clean: force_unlock *before* switching to main branch
  spec/lib/slice.py
Due: isort, pyright, mypy

Sets TERRAGRUNT_NO_AUTO_INIT to false in the wrapper.
  lib/ci/bin/terragrunt
Due: pyright-verifytypes-lib

fix: splitting concatenated ssh keys, for ssh-agent
  lib/github_actions/__init__.py
  lib/github_actions/log-as-step-summary
  lib/github_actions/minimize-comment.graphql
  lib/github_actions/printenv
  lib/github_actions/set-env
  lib/github_actions/set-output
  lib/github_actions/ssh-agent
  lib/github_actions/ssh_add.py
  lib/github_actions/ssh_add_test.py
  lib/github_actions/step-summary
  lib/sh/core.py
  lib/tf_lock/release.py
  lib/user_error.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

Fixes path references to github_actions.
  bin/gha-log-as-step-summary
  bin/gha-printenv
  bin/gha-set-env
  bin/gha-set-output
  bin/gha-ssh-agent
  bin/gha-step-summary
  spec/conftest.py
Due: isort, pyright, mypy

use state-admin access rather than apply, where appropriate
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
  lib/tacos/plan
  lib/tacos/unlock
  lib/tf_lock/tf_lock.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

There's no such job as "Terraform Lock" anymore.
  spec/behaviors/force_unlock_on_dirty.py
  spec/behaviors/message_on_lock_failure.py
  spec/scenarios/lock_contention.py
  spec/scenarios/separate_changes_dont_conflict.py
Due: isort, pyright, mypy

state-admin: update SA name in assertions
  spec/behaviors/plan_on_push.py
Due: isort, pyright, mypy

don't short-circuit, keep looping when the branch is missing
  spec/lib/gh/pr.py
Due: isort, pyright, mypy

docs
  TODO.grep.md
  TODO.md
  doc/rationale.md
Due: none

Adds output to the workflow log for why the apply was refused.
  lib/ci/tacos-apply
Due: pyright-verifytypes-lib

Path conditions:
  isort: any of: \.py$
  pyright: any of: \.py$
  mypy: any of: \.py$
  pyright-verifytypes-lib: any of: ^lib/
  pyright-verifytypes-spec: any of: ^manual_tests/
  pyright-verifytypes-tf-lock: any of: ^lib/tf_lock/lib/
