Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec, pyright-verifytypes-tf-lock

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier --write --ignore-unknown

      - id: black
        name: black
        language: system
        entry: ./lib/make/bin/black
        pass_filenames: false

      - id: isort
        name: isort
        language: system
        entry: isort
        files: '\.py$'

      - id: pyright
        name: pyright
        language: system
        entry: pyright
        files: '\.py$'

      - id: mypy
        name: mypy
        language: system
        entry: mypy
        files: '\.py$'

      - id: pyright-verifytypes-lib
        name: "pyright verify: lib"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib
        files: "^lib/"
        pass_filenames: false

      - id: pyright-verifytypes-spec
        name: "pyright verify: spec"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes manual_tests
        files: "^manual_tests/"
        pass_filenames: false

      - id: pyright-verifytypes-tf-lock
        name: "pyright verify: tf-lock"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib/tf_lock/lib
        files: "^lib/tf_lock/lib/"
        pass_filenames: false

      - id: shellcheck
        name: shellcheck
        language: system
        entry: ./lib/make/bin/shellcheck

Fix environment setup in unlock
  conftest.py
  manual_tests/behaviors/force_unlock_on_happy_path.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

auto-commit: GHA deps, for test
  .github/workflows/tacos_unlock.yml
Due: none

Revert local change
  conftest.py
Due: isort, pyright, mypy

Allows to toggle PR draft status and tests that marking a PR ready plans it.
  manual_tests/lib/gh/pr.py
  manual_tests/scenarios/draft_pr.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

Merging multiple
  .github/actions/matrix-fanin/action.yml
  .github/actions/matrix-fanout/action.yml
  .github/workflows/selftest-matrix-io.yml
Due: none

Actually parses the json
  manual_tests/lib/gh/pr.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

Updates comments in the tacos_plan workflow.
  .github/workflows/tacos_plan.yml
Due: none

Verify that the issue is the root
  .github/workflows/tacos_unlock.yml
Due: none

Fixing python version
  .github/workflows/lint.yml
Due: none

Fixing linting
  .github/workflows/lint.yml
  lib/github-app/device-flow/README.md
Due: pyright-verifytypes-lib

Switches the ready_for_review check to a separate test.
  manual_tests/behaviors/ready_for_review.py
  manual_tests/scenarios/draft_pr.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

tf-lock: update for "bare" terragrunt slice compat
  .gitignore
  lib/tf_lock/lib/env.sh
  lib/tf_lock/release.py
  lib/tf_lock/tf-lock
  lib/tf_lock/tf-lock-acquire
  lib/tf_lock/tf-lock-info
  lib/tf_lock/tf-lock-release
  lib/tf_lock/tf-state-info
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

change DEBUG in tf-lock-acquire to default 0
  lib/tf_lock/lib/tf_lock_acquire.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

plan: add ssh-key support
  .github/workflows/tacos_plan.yml
Due: none

plan,drift: new param: ssh-private-key
  .github/actions/setup/action.yml
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_detect_drift.yml
  .github/workflows/tacos_plan.yml
Due: none

theres a separate syntax for passing secrets to workflows
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_detect_drift.yml
  .github/workflows/tacos_plan.yml
Due: none

run terragrunt validate-inputs
  lib/tf_lock/lib/env.sh
  lib/tf_lock/release.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

avoid losing the tfplan file
  lib/ci/tacos-plan
Due: pyright-verifytypes-lib

validate-inputs: less errors
  lib/tf_lock/lib/env.sh
Due: pyright-verifytypes-lib, pyright-verifytypes-tf-lock

fix "unexpected input ssh-private-key"
  .github/actions/setup/action.yml
Due: none

tacos-unlock: refactor everything, because that's obviously the smart thing to do...
  .envrc
  .github/actions/determine-slices/action.yml
  .github/actions/just-the-basics/action.yml
  .github/actions/setup/action.yml
  .github/workflows/reset-label.yml
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_unlock.yml
  lib/ci/default-shell
  lib/ci/default-shell-post-sudo
  lib/ci/lib/with-user-env
  lib/ci/obtain-lock
  lib/ci/set-terraformer
  lib/ci/set-workload-identity-provider
  lib/ci/slices
  lib/ci/tacos-apply
  lib/ci/tacos-plan
  lib/ci/tacos-unlock
  lib/ci/tacos-unlock-many
  lib/git/ls-mimetype
  lib/github-actions/set-env
  lib/github-actions/set-output
  lib/github-actions/step-summary
  lib/make/bin/prettier
  lib/tf_lock/lib/tf_lock_acquire.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

Change variable name
  .github/workflows/tacos_unlock.yml
  lib/ci/tacos-unlock
  manual_tests/behaviors/force_unlock_on_happy_path.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

pytest cap1fd: capture stdout/stderr combined
  lib/pytest/cap1fd.py
  lib/pytest/cap1fd_plugin.py
  lib/pytest/cap1fd_test.py
  lib/sh/constant.py
  lib/sh/io.py
  lib/sh/types.py
  pyproject.toml
Due: isort, pyright, mypy, pyright-verifytypes-lib

lib.sh: add debug levels; a bit quieter by default
  lib/sh/cd.py
  lib/sh/io.py
  lib/sh/sh.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

fix(lib.sh): tests fixed; use str, not bytes
  lib/sh/core.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

add pytest-xdist
  requirements-dev.in
  requirements-dev.txt
Due: none

off topic: rework lib.parse
  lib/parse.py
  lib/parse_test.py
  manual_tests/lib/gh/app.py
  manual_tests/lib/gh/check_run.py
  manual_tests/lib/gh/repo.py
  manual_tests/lib/tacos_demo.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

run tests in parallel, by default, when running entire suite
  lib/make/coverage
  lib/make/test
Due: pyright-verifytypes-lib

use separate IAC directory per test, created automatically
  conftest.py
  manual_tests/conftest.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

lib.gh.up_to_date: de-conflict parallel edits to .demo repo, using flock
  .gitignore
  Brewfile
  bin/flock
  lib/sh/core.py
  lib/unix/flock
  manual_tests/conftest.py
  manual_tests/lib/gh/gh.py
  manual_tests/lib/gh/pr.py
  manual_tests/lib/gh/up_to_date.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

prevent git-pull failure: commit changes first
  manual_tests/lib/tacos_demo.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

tty-attach: ensure interactive commands (e.g. gcloud reauth) reach the user
  bin/tty-attach
  lib/gcloud/gcloud-auth-export-access-token
  lib/unix/tty-attach
  manual_tests/conftest.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

optimization: use --filter=tree:0 for faster git-clone
  manual_tests/lib/gh/repo.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

fix unlock test
  .github/workflows/tacos_unlock.yml
  manual_tests/behaviors/force_unlock_on_happy_path.py
  manual_tests/lib/slice.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

need to set oidc-provider with-user-env
  lib/ci/set-workload-identity-provider
Due: pyright-verifytypes-lib

allow user override of "terragrunt module prefix"
  .envrc
Due: none

no step-summary for `slices`
  lib/ci/slices
Due: pyright-verifytypes-lib

feat(pr): fetch comments tagged for a specified tacos job
  manual_tests/lib/tacos_demo.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

fix PR titles & avoid "nothing to commit" error
  manual_tests/lib/gh/pr.py
  manual_tests/lib/tacos_demo.py
Due: isort, pyright, mypy, pyright-verifytypes-spec
