Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pyright, pyright-verifytypes-lib, pyright-verifytypes-spec

black:
  name: black
  entry: black
  language: system

isort:
  name: isort
  entry: isort
  language: system

pyright:
  name: pyright
  entry: ./lib/make/bin/pyright
  language: system

pyright-verifytypes-lib:
  name: 'pyright verify: lib'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib
  pass_filenames: false

pyright-verifytypes-spec:
  name: 'pyright verify: spec'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes spec
  pass_filenames: false

Update lib/tf_lock/tf_lock_acquire.py
  lib/tf_lock/tf_lock_acquire.py
Due: black, isort, pyright, pyright-verifytypes-lib

added todo
  lib/tf_lock/tf_lock_acquire.py
Due: black, isort, pyright, pyright-verifytypes-lib

Add a check to see if a lock is from a closed PR (#247)
  lib/tf_lock/tf_lock_acquire.py
  spec/scenarios/orphaned_lock.py
Due: black, isort, pyright, pyright-verifytypes-lib, pyright-verifytypes-spec

ref: remove PR closed duplication
  lib/pr.py
  lib/tf_lock/tf_lock_acquire.py
  spec/lib/gh/pr.py
Due: black, isort, pyright, pyright-verifytypes-lib, pyright-verifytypes-spec

Should force unlock on draft
  lib/tf_lock/tf_lock_acquire.py
Due: black, isort, pyright, pyright-verifytypes-lib

add a check for draft
  lib/tf_lock/tf_lock_acquire.py
  spec/scenarios/orphaned_lock.py
Due: black, isort, pyright, pyright-verifytypes-lib, pyright-verifytypes-spec

fix test case so pr1 isn't closed yet
  spec/scenarios/orphaned_lock.py
Due: black, isort, pyright, pyright-verifytypes-spec

Should also unlock on draft status (#251)
  lib/tf_lock/tf_lock_acquire.py
  spec/scenarios/orphaned_lock.py
Due: black, isort, pyright, pyright-verifytypes-lib, pyright-verifytypes-spec

feat: install terraform logging tool
  .github/actions/setup/action.yml
Due: none

Adds permissions for viewing checks/actions (#242)
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
Due: none

Adds permissions for viewing checks/actions (#242) (#257)
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
Due: none

feat: install terraform logging tool (#263)
  .github/actions/setup/action.yml
Due: none

fix for fish shell
  lib/gcloud/gcloud-auth-export-access-token
Due: pyright-verifytypes-lib

fix: gcloud-auth-export-access-token under fish shell (#265)
  lib/gcloud/gcloud-auth-export-access-token
Due: pyright-verifytypes-lib

Allow anyone to use the :taco::apply label, not just the PR owner.
  .github/workflows/tacos_apply.yml
  doc/permissions.md
Due: none

Allow anyone to use the :taco::apply label, not just the PR owner. (#266)
  .github/workflows/tacos_apply.yml
  doc/permissions.md
Due: none

Adds blocklists and per-file filtering.
  lib/tacos/dependent_slices.py
  lib/tacos/path_filter.py
Due: black, isort, pyright, pyright-verifytypes-lib

Switches back to fork source for direnv.
  .github/actions/just-the-basics/action.yml
Due: none

Switches back to fork source for direnv. (#276)
  .github/actions/just-the-basics/action.yml
Due: none

Fixes path to .envrc.
  .github/actions/just-the-basics/action.yml
Due: none

It wants a directory, not the .envrc file itself.
  .github/actions/just-the-basics/action.yml
Due: none

a test
  lib/ci/default-shell
Due: pyright-verifytypes-lib

Bumps direnv dependency.
  .github/actions/just-the-basics/action.yml
Due: none

Bumps direnv dependency. (#278)
  .github/actions/just-the-basics/action.yml
Due: none

Fixes formatting for non-existent lock.
  lib/tf_lock/tf-lock-info
Due: pyright-verifytypes-lib

Fixes formatting for non-existent lock. (#281)
  lib/tf_lock/tf-lock-info
Due: pyright-verifytypes-lib

Finds the most specific tf and tg versions.
  .github/actions/setup/action.yml
Due: none

Finds the most specific tf and tg versions. (#283)
  .github/actions/setup/action.yml
Due: none

Fix command injection vulnerabilities in GitHub Actions
  .github/actions/just-the-basics/action.yml
  .github/actions/scratch/action.yml
Due: none

feat: Applies from merge queue to avoid needing apply label
  .github/workflows/tacos_apply.yml
Due: none

fix: Better errors for too many slices touched
  .github/actions/matrix-fan-in/rename-tmp-dirs.sh
Due: none

better message
  .github/actions/matrix-fan-in/rename-tmp-dirs.sh
Due: none

Update rename-tmp-dirs.sh
  .github/actions/matrix-fan-in/rename-tmp-dirs.sh
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes-lib: any of: ^lib/
  pyright-verifytypes-spec: any of: ^spec/
