Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pyright, pyright-verifytypes-lib, pyright-verifytypes-spec

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: system
        types:
          - text

      - id: black
        name: black
        entry: black
        language: system
        types:
          - python

      - id: isort
        name: isort
        entry: isort
        language: system
        types:
          - python

      - id: pyright
        name: pyright
        entry: ./lib/make/bin/pyright
        language: system
        types:
          - python

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types:
          - shell

      - id: pyright-verifytypes-lib
        name: "pyright verify: lib"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib
        files: "^lib/"
        pass_filenames: false

      - id: pyright-verifytypes-spec
        name: "pyright verify: spec"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes spec
        files: "^spec/"
        pass_filenames: false

fix(test): ensure tenv can find/install its binary cache
  TODO.md
  spec/conftest.py
Due: black, isort, pyright, pyright-verifytypes-spec

ensure git's pager is non-interactive during tests
  etc/gitconfig
Due: none

taco apply needs required checks
  lib/ci/github-pr-setenv
  lib/ci/tacos-apply
  spec/scenarios/required_checks_fail.py
Due: black, isort, pyright, pyright-verifytypes-lib, pyright-verifytypes-spec

testing
  .github/workflows/required_check.yml
  required-checks.fail
  spec/lib/gh/pr.py
  spec/scenarios/required_checks_fail.py
Due: black, isort, pyright, pyright-verifytypes-spec

.
  .github/workflows/required_check.yml
Due: none

.
  lib/ci/github-pr-setenv
Due: pyright-verifytypes-lib

auto-commit: GHA deps, for test
  lib/ci/tacos_summary.py
Due: black, isort, pyright, pyright-verifytypes-lib

put file in the right place
  spec/scenarios/required_checks_fail.py
Due: black, isort, pyright, pyright-verifytypes-spec

auto-commit: GHA deps, for test
  lib/ci/github-pr-setenv
Due: pyright-verifytypes-lib

.
  spec/lib/tacos_demo.py
  spec/scenarios/required_checks_fail.py
Due: black, isort, pyright, pyright-verifytypes-spec

revert
  lib/ci/tacos_summary.py
Due: black, isort, pyright, pyright-verifytypes-lib

.
  spec/lib/gh/pr.py
  spec/scenarios/required_checks_fail.py
Due: black, isort, pyright, pyright-verifytypes-spec

.
  lib/ci/tacos_summary.py
Due: black, isort, pyright, pyright-verifytypes-lib

add: wait before trying to merge on the conftest
  spec/conftest.py
Due: black, isort, pyright, pyright-verifytypes-spec

WIP: test to see that a PR doesn't apply without approval
  spec/behaviors/apply_require_review.py
Due: black, isort, pyright, pyright-verifytypes-spec

I think this should have a cookie to match what we have in the apply summary
  lib/ci/tacos_plan_summary.py
Due: black, isort, pyright, pyright-verifytypes-lib

Add cookie (#240)
  lib/ci/tacos_plan_summary.py
Due: black, isort, pyright, pyright-verifytypes-lib

feat: Tacos apply depends on required checks passing (#237)
  lib/ci/github-pr-setenv
  lib/ci/tacos-apply
  required-checks.fail
  spec/lib/gh/pr.py
  spec/lib/tacos_demo.py
  spec/scenarios/required_checks_fail.py
Due: black, isort, pyright, pyright-verifytypes-lib, pyright-verifytypes-spec

Adds permissions for viewing checks/actions
  .github/workflows/tacos_apply.yml
Due: none

Adds permissions for viewing checks/actions (#242)
  .github/workflows/tacos_apply.yml
Due: none

add: test to make sure orphaned locks are overridden
  spec/lib/slice.py
Due: black, isort, pyright, pyright-verifytypes-spec

add: actual test
  spec/scenarios/orphaned_lock.py
Due: black, isort, pyright, pyright-verifytypes-spec

fix: push after revert
  spec/lib/slice.py
Due: black, isort, pyright, pyright-verifytypes-spec

fix: edit slice before
  spec/scenarios/orphaned_lock.py
Due: black, isort, pyright, pyright-verifytypes-spec

Add a check to see if a lock is from a closed PR. if it is, force unlock it
  lib/tf_lock/tf_lock_acquire.py
Due: black, isort, pyright, pyright-verifytypes-lib

fix: force push the revert
  spec/lib/slice.py
  spec/scenarios/orphaned_lock.py
Due: black, isort, pyright, pyright-verifytypes-spec

add: markxfail
  spec/scenarios/orphaned_lock.py
Due: black, isort, pyright, pyright-verifytypes-spec

Update spec/scenarios/orphaned_lock.py
  spec/scenarios/orphaned_lock.py
Due: black, isort, pyright, pyright-verifytypes-spec

add: test to make sure orphaned locks are overridden (#246)
  spec/lib/slice.py
  spec/scenarios/orphaned_lock.py
Due: black, isort, pyright, pyright-verifytypes-spec

this test is supposed to pass now
  spec/scenarios/orphaned_lock.py
Due: black, isort, pyright, pyright-verifytypes-spec

try to continue
  lib/tf_lock/tf_lock_acquire.py
Due: black, isort, pyright, pyright-verifytypes-lib

this test passes now
  spec/scenarios/orphaned_lock.py
Due: black, isort, pyright, pyright-verifytypes-spec

refactor
  lib/tf_lock/tf_lock_acquire.py
Due: black, isort, pyright, pyright-verifytypes-lib

minor cleanup
  lib/tf_lock/tf_lock_acquire.py
Due: black, isort, pyright, pyright-verifytypes-lib

simplify more
  lib/tf_lock/tf_lock_acquire.py
Due: black, isort, pyright, pyright-verifytypes-lib
