Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec, pyright-verifytypes-tf-lock

isort:
  name: isort
  language: system
  entry: isort

pyright:
  name: pyright
  language: system
  entry: pyright

mypy:
  name: mypy
  language: system
  entry: mypy

pyright-verifytypes-lib:
  name: 'pyright verify: lib'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib
  pass_filenames: false

pyright-verifytypes-spec:
  name: 'pyright verify: spec'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes manual_tests
  pass_filenames: false

pyright-verifytypes-tf-lock:
  name: 'pyright verify: tf-lock'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib/tf_lock/lib
  pass_filenames: false

fix: sh.cd was declining to cd sometimes
  lib/sh/cd.py
  manual_tests/lib/slice.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

upgrade pyright, ignore spurious error for now
  lib/tacos/dependent_slices.py
  requirements-dev.in
  requirements-dev.txt
Due: isort, pyright, mypy, pyright-verifytypes-lib

feat: sh.debug takes multiple args
  lib/sh/io.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

use gh cli for approval, for better visibility
  lib/sh/core.py
  manual_tests/conftest.py
  manual_tests/lib/gh/pr.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

fix: relpaths, systemically
  .envrc
  .github/workflows/tacos_unlock.yml
  bin/coverage-enabled
  bin/gcloud-auth-export-access-token
  bin/tf-lock-acquire
  bin/tf-lock-id
  bin/tf-lock-info
  lib/ci/default-shell
  lib/ci/default-shell-post-sudo
  lib/ci/dependent-slices
  lib/ci/obtain-lock
  lib/ci/release-lock
  lib/ci/set-terraformer
  lib/ci/set-workload-identity-provider
  lib/constants.py
  lib/gcloud/sudo-gcp
  lib/getsentry-sac/sac-terraformer
  lib/getsentry-sac/sudo-sac
  lib/git/ls-python
  lib/git/ls-sh
  lib/make/bin/pyright-verifytypes
  lib/make/brew
  lib/make/lint
  lib/make/pyenv
  lib/tf-lock/lib/error2json
  lib/tf-lock/tf-lock-acquire
  lib/tf-lock/tf-lock-info
  lib/tf-lock/tf-lock-release
  manual_tests/conftest.py
  manual_tests/lib/slice.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

new command: tf-lock
  .pre-commit-config.yaml
  .shellcheckrc
  bin/tf-lock
  bin/tf-lock-acquire
  bin/tf-lock-info
  bin/tf-lock-release
  lib/tf-lock/lib/lock-id.jq
  lib/tf-lock/tf-lock-acquire
  lib/tf-lock/tf-lock-id
  lib/tf_lock/TESTING.md
  lib/tf_lock/__init__.py
  lib/tf_lock/lib/__init__.py
  lib/tf_lock/lib/env.sh
  lib/tf_lock/lib/error2json
  lib/tf_lock/lib/error2json.sed
  lib/tf_lock/lib/py.typed
  lib/tf_lock/lib/tf_lock_acquire.py
  lib/tf_lock/tf-lock
  lib/tf_lock/tf-lock-acquire
  lib/tf_lock/tf-lock-info
  lib/tf_lock/tf-lock-release
  lib/tf_lock/tf-state-info
  lib/tf_lock/tf_lock.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

sudo-gcp: fold in sudo-sac
  .config/sudo-gcp/service-account
  .github/workflows/tacos_unlock.yml
  bin/sudo-gcp
  bin/sudo-gcp-service-account
  bin/sudo-sac
  lib/gcloud/gcloud-auth-export-access-token
  lib/gcloud/sudo-gcp
  lib/gcloud/sudo-gcp-service-account
  lib/getsentry-sac/sudo-sac
  manual_tests/lib/slice.py
  manual_tests/lib/tf.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

expose nearest-config-file
  bin/nearest-config-file
Due: none

ensure fresh clones are tf-clean
  manual_tests/conftest.py
  manual_tests/lib/tf.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

remove unused
  lib/make/bin/black
  lib/make/bin/isort
  lib/make/bin/mypy
  lib/make/lint
Due: pyright-verifytypes-lib

merged accounts: bukzor-sentryio to bukzor
  .github/workflows/tacos_apply.yml
Due: none

context managers should try/finally
  lib/sh/io.py
  manual_tests/lib/gh/pr.py
  manual_tests/lib/tacos_demo.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

improve exceptional behavior of sh.cd
  lib/sh/cd.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

move force-apply cleanup to apply test
  manual_tests/behaviors/apply_on_update.py
  manual_tests/conftest.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

normalizing tacos_lock with tacos_apply
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_lock.yml
  lib/ci/obtain-lock
  lib/tf_lock/tf-lock-acquire
Due: pyright-verifytypes-lib

fix: don't reference TYPE_CHECKING values at runtime
  manual_tests/lib/slice.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

consolidate tf-apply cleanup to a clean_slices fixture FIXME: s/slices.path/slices.workdir/
  manual_tests/behaviors/apply_on_update.py
  manual_tests/behaviors/drift_detection.py
  manual_tests/conftest.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

Slices.is_locked: re-use tf-lock-info function
  lib/tf_lock/tf_lock.py
  manual_tests/lib/slice.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

rename: path_clean to path_is_clean
  manual_tests/lib/tf.py
  manual_tests/scenarios/feature_branch_happy_path.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

Slices: record workdir and subpath, separately
  manual_tests/lib/slice.py
  manual_tests/lib/tacos_demo.py
  manual_tests/scenarios/drift_remediation.py
  manual_tests/scenarios/feature_branch_happy_path.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

Adding shared action for fan in, updating lock summary
  .github/actions/prepare-summary/action.yml
  .github/workflows/tacos_lock.yml
  lib/ci/lock-acquisition-comment.js
  lib/ci/prepare-summary
  lib/ci/process-lock-result
Due: pyright-verifytypes-lib

Removing unused file
  lib/ci/prepare-summary
Due: pyright-verifytypes-lib

Adding newline
  lib/ci/process-lock-result
Due: pyright-verifytypes-lib

the plan workflow needs to write the tfstate lock ...
  .github/workflows/tacos_plan.yml
  lib/tf_lock/tf-lock
Due: pyright-verifytypes-lib

tacos-plan fully working
  .github/actions/README.md
  .github/actions/determine-slices/action.yml
  .github/actions/just-the-basics/action.yml
  .github/actions/setup/action.yml
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_detect_drift.yml
  .github/workflows/tacos_lock.yml
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
  lib/ci/tacos-detect-drift
  lib/ci/tacos-plan
  lib/tacos/dependent_slices_test.py
  manual_tests/behaviors/plan_on_push.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

expose gha-set-output
  bin/gha-log-as-step-summary
  bin/gha-set-env
  bin/gha-set-output
  lib/github-actions/log-as-step-summary
  lib/github-actions/minimize-comment.graphql
  lib/github-actions/set-env
  lib/github-actions/set-output
  manual_tests/conftest.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

update to action-terragrunt latest
  .github/actions/setup/action.yml
  .github/workflows/tacos_unlock.yml
Due: none

deprecate tacos-lock
  .github/workflows/tacos_lock.yml
Due: none

fix: tf-lock with zero-arg command seemed to succeed
  lib/tf_lock/tf-lock
Due: pyright-verifytypes-lib

fix: tf-lock-acquire would infinite-loop if given LocalState
  lib/tf_lock/tf-lock
  lib/tf_lock/tf-lock-info
Due: pyright-verifytypes-lib

avoid interleaving output.summary command; refine output
  lib/ci/tacos-plan
  lib/github-actions/log-as-step-summary
  lib/tf_lock/tf-lock-acquire
  lib/tf_lock/tf-lock-release
  lib/tf_lock/tf_lock.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

update PR with plan result
  .github/workflows/tacos_plan.yml
Due: none

plan-on-update test passes
  manual_tests/behaviors/plan_on_push.py
  manual_tests/lib/gh/check_run.py
  manual_tests/lib/gh/types.py
  manual_tests/lib/tacos_demo.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

lock-on-pr test passing
  manual_tests/behaviors/lock_on_pr.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

apply test working
  lib/terragrunt/terragrunt.help
  manual_tests/behaviors/apply_on_update.py
  manual_tests/behaviors/drift_detection.py
  manual_tests/conftest.py
  manual_tests/lib/gh/pr.py
  manual_tests/lib/slice.py
  manual_tests/lib/tacos_demo.py
  manual_tests/lib/tf.py
  manual_tests/scenarios/drift_remediation.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

remove behaviors/drift-remediation; that was never specified
  manual_tests/behaviors/drift_remediation.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

feat(lib.wait): suppress double-message on first loop
  lib/wait.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

fix(test): need to clean all slices, for accurate test assertions
  manual_tests/conftest.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

Path conditions:
  isort: any of: \.py$
  pyright: any of: \.py$
  mypy: any of: \.py$
  pyright-verifytypes-lib: any of: ^lib/
  pyright-verifytypes-spec: any of: ^manual_tests/
  pyright-verifytypes-tf-lock: any of: ^lib/tf_lock/lib/
