Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec, pyright-verifytypes-tf-lock

isort:
  name: isort
  language: system
  entry: isort

pyright:
  name: pyright
  language: system
  entry: pyright

mypy:
  name: mypy
  language: system
  entry: mypy

pyright-verifytypes-lib:
  name: 'pyright verify: lib'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib
  pass_filenames: false

pyright-verifytypes-spec:
  name: 'pyright verify: spec'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes manual_tests
  pass_filenames: false

pyright-verifytypes-tf-lock:
  name: 'pyright verify: tf-lock'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib/tf_lock/lib
  pass_filenames: false

debug(test): clarify detached-HEAD error
  spec/conftest.py
Due: isort, pyright, mypy

fix(test): "behavior: message on lock failure" passing
  spec/behaviors/message_on_lock_failure.py
Due: isort, pyright, mypy

fix(test): "scenario: lock contention" passing
  spec/scenarios/lock_contention.py
Due: isort, pyright, mypy

fix(test): "behavior: force unlock, on dirty"
  spec/behaviors/force_unlock_on_dirty.py
Due: isort, pyright, mypy

fix(test): "behavior: message on lock failure"
  spec/behaviors/message_on_lock_failure.py
Due: isort, pyright, mypy

fix(test): "scenario: separate changes don't conflict"
  spec/scenarios/separate_changes_dont_conflict.py
Due: isort, pyright, mypy

fix(test-in-parallel): fixed several issues found with running tests in parallel
  spec/lib/gh/pr.py
  spec/lib/gh/up_to_date.py
  spec/lib/tacos_demo.py
Due: isort, pyright, mypy

feat(test): take advantage of Slices methods
  spec/behaviors/plan_on_push.py
  spec/lib/slice.py
  spec/scenarios/draft_pr.py
  spec/scenarios/separate_changes_dont_conflict.py
Due: isort, pyright, mypy

fix(test): "scenario: feature branch, happy path"
  spec/scenarios/feature_branch_happy_path.py
Due: isort, pyright, mypy

feat(test): PR.with_slices
  spec/lib/tacos_demo.py
Due: isort, pyright, mypy

doc
  TODO.grep.md
  TODO.md
  doc/rationale.md
Due: none

fix git-push rejected non-fast-forward
  spec/lib/gh/pr.py
  spec/lib/tacos_demo.py
Due: isort, pyright, mypy

Allow other users to do certain actions as the PR opener.
  .github/actions/scratch/action.yml
  .github/actions/setup/action.yml
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
Due: none

Updates documentation.
  TODO.md
  doc/permissions.md
Due: none

Fixes suggestions from PR.
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
Due: none

add a shorter "exists" phase to check-run timeout
  lib/wait.py
  spec/lib/gh/check.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

doc
  TODO.grep.md
  TODO.md
  lib/make/todo-grep
Due: pyright-verifytypes-lib

Reverts 79a91291a5adc147c00ebc8dbc3cbe27cbd7fe6c and b4c481cd6847f86f47d1c79d183ce48639bb530b
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
  lib/tacos/plan
  lib/tacos/unlock
  lib/tf_lock/tf_lock.py
  spec/behaviors/plan_on_push.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

Un-Reverts 79a91291a5adc147c00ebc8dbc3cbe27cbd7fe6c and b4c481cd6847f86f47d1c79d183ce48639bb530b
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
  lib/tacos/plan
  lib/tacos/unlock
  lib/tf_lock/tf_lock.py
  spec/behaviors/plan_on_push.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

feat(gha/ssh-agent): show keys' hash, too
  lib/github_actions/ssh-agent
Due: pyright-verifytypes-lib

switch back to webfactory/ssh-agent for multi-key handling
  .github/actions/set-username-and-hostname/action.yml
  .github/actions/setup/action.yml
  .gitignore
  bin/gha-ssh-agent
  lib/ci/bin/sudo-ssh-add
  lib/ci/bin/sudo-ssh-agent
  lib/github_actions/ssh-agent
  lib/github_actions/ssh_add.py
  lib/github_actions/ssh_add_test.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

updated TODO, from standup
  TODO.md
Due: none

fix(security): reduce permissions requested during tf-init
  TODO.grep.md
  spec/lib/tf.py
Due: isort, pyright, mypy

doc: updates from standup
  TODO.md
Due: none

Adds workflow for notifying PRs with conflicts.
  .github/workflows/tacos_conflict.yml
  TODO.md
  spec/behaviors/message_on_conflict.py
Due: isort, pyright, mypy

doc: todo update, at standup
  TODO.grep.md
  TODO.md
Due: none

Consolidates workflow, adds more info and adds test for comment.
  .github/workflows/tacos_conflict.yml
  spec/behaviors/message_on_conflict.py
Due: isort, pyright, mypy

add explicit requirements (and implement them)
  .github/actions/matrix-fan-in/README.md
  .github/actions/matrix-fan-in/action.yml
  .github/actions/matrix-fan-in/artifact-name.sh
  .github/actions/matrix-fan-in/combine-json.sh
  .github/actions/matrix-fan-in/ghadecode
  .github/actions/matrix-fan-in/ghaencode
  .github/actions/matrix-fan-in/rename-tmp.sh
  .github/actions/matrix-fan-in/selftest.sh
  .github/actions/matrix-fan-out/README.md
  .github/actions/matrix-fan-out/action.yml
  .github/actions/matrix-fan-out/artifact-name.sh
  .github/actions/matrix-fan-out/ghadecode
  .github/actions/matrix-fan-out/ghaencode
  .github/actions/matrix-fan-out/prepare.sh
  .github/actions/matrix-fan-out/selftest.sh
  .github/actions/matrix-fanin/action.yml
  .github/actions/matrix-fanout/action.yml
  .github/workflows/selftest-matrix-io.yml
Due: none

Handle the event payload not knowing the status.
  .github/workflows/tacos_conflict.yml
Due: none

apparently action input descriptions are document as required /shrug
  .github/actions/just-the-basics/action.yml
  .github/actions/list-slices/action.yml
  .github/actions/matrix-fan-in/action.yml
  .github/actions/matrix-fan-out/action.yml
  .github/actions/scratch/action.yml
  .github/actions/set-username-and-hostname/action.yml
  .github/actions/setup/action.yml
Due: none

Fixes the conflict message test.
  spec/behaviors/message_on_conflict.py
  spec/lib/tacos_demo.py
Due: isort, pyright, mypy

TODO
  TODO.md
Due: none

Adds retries to the conflict mergeability check.
  .github/workflows/tacos_conflict.yml
Due: none

Updates loop variable at end of loop, not beginning.
  .github/workflows/tacos_conflict.yml
Due: none

wip: set our own pr-comment tags
  lib/ci/bin/tf-step-summary
  spec/lib/tacos_demo.py
  spec/lib/tacos_demo_test.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

Prefixes environment variable.
  .github/workflows/tacos_conflict.yml
Due: none

Adds support for different allowlists in different workflows.
  .github/actions/list-slices/action.yml
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
  lib/ci/list-slices
  lib/tacos/dependent_slices.py
  lib/tacos/path_filter.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

Incorporates suggestions and handles the drift workflow.
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_detect_drift.yml
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
  TODO.md
  lib/tacos/dependent_slices.py
  lib/tacos/path_filter.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

rename, simplify tacos_conflict -> tacos_conflict_detection
  .github/workflows/tacos_conflict_detection.yml
Due: none

Path conditions:
  isort: any of: \.py$
  pyright: any of: \.py$
  mypy: any of: \.py$
  pyright-verifytypes-lib: any of: ^lib/
  pyright-verifytypes-spec: any of: ^manual_tests/
  pyright-verifytypes-tf-lock: any of: ^lib/tf_lock/lib/
