Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec, pyright-verifytypes-tf-lock

isort:
  name: isort
  language: system
  entry: isort

pyright:
  name: pyright
  language: system
  entry: pyright

mypy:
  name: mypy
  language: system
  entry: mypy

pyright-verifytypes-lib:
  name: 'pyright verify: lib'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib
  pass_filenames: false

pyright-verifytypes-spec:
  name: 'pyright verify: spec'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes manual_tests
  pass_filenames: false

pyright-verifytypes-tf-lock:
  name: 'pyright verify: tf-lock'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib/tf_lock/lib
  pass_filenames: false

Fix labels conditions
  .github/workflows/reset-label.yml
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
Due: none

remove private links
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
Due: none

need to set terraformer "with user env"
  TODO.md
  lib/ci/set-terraformer
Due: pyright-verifytypes-lib

Gets the unlock_on_merge test working.
  .github/workflows/tacos_unlock.yml
  manual_tests/behaviors/unlock_on_merge.py
Due: isort, pyright, mypy, pyright-verifytypes-spec

spring cleaning: remove disused tacos-lock stuff
  .github/workflows/tacos_lock.yml
  lib/ci/lock-acquisition-comment.js
  lib/ci/obtain-lock
Due: pyright-verifytypes-lib

spring cleaning: make acquire.py match release.py
  .pre-commit-config.yaml
  lib/tf_lock/acquire.py
  lib/tf_lock/lib/__init__.py
  lib/tf_lock/lib/py.typed
  lib/tf_lock/tf-lock-acquire
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

spring cleaning: make acquire.py match release.py
  .pre-commit-config.yaml
  lib/tf_lock/acquire.py
  lib/tf_lock/lib/__init__.py
  lib/tf_lock/lib/py.typed
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

spring cleaning: let reset-label.js live with its workflow
  .github/workflows/reset-label.js
  .github/workflows/reset-label.yml
Due: none

spring cleaning: use "list slices" naming uniformly
  .github/actions/list-slices/action.yml
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
  lib/ci/list-slices
Due: pyright-verifytypes-lib

spring cleaning(lib/ci): push implementation details down into lib/
  lib/ci/default-shell
  lib/ci/lib/default-shell-post-sudo
  lib/ci/lib/prompt-color
Due: pyright-verifytypes-lib

cleanup: note future tacos-unlock work
  lib/ci/tacos-unlock-many
Due: pyright-verifytypes-lib

auto-commit: GHA deps, for test
  lib/ci/tacos-unlock-many
Due: pyright-verifytypes-lib

fix parallel testing
  lib/constants.py
  lib/types.py
  spec/behaviors/plan_on_push.py
  spec/conftest.py
  spec/lib/gh/app.py
  spec/lib/gh/pr.py
  spec/lib/gh/repo.py
  spec/lib/slice.py
  spec/lib/tacos_demo.py
  spec/scenarios/feature_branch_happy_path.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

spring cleaning: upgrade python deps
  requirements-dev.txt
Due: none

spring cleaning: upgrade to black --preview format
  conftest.py
  lib/pytest/cap1fd.py
  lib/pytest/configure_pytest_repr_length.py
  lib/pytest/doctest.py
  lib/sh/sh.py
  lib/tacos/dependent_slices.py
  lib/tacos/dependent_slices_test.py
  lib/tf_lock/release.py
  lib/tf_lock/tf_lock.py
  pyproject.toml
  spec/conftest.py
  spec/lib/gh/check_run.py
  spec/lib/gh/pr.py
  spec/lib/gh/repo.py
  spec/lib/tacos_demo.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

fix pre-commit autoinstall
  Makefile
  lib/make/pre-commit
Due: pyright-verifytypes-lib

TODO.grep.md: automatically collect our todos
  .github/workflows/tacos_apply.yml
  Makefile
  TODO.grep.md
  TODO.md
  lib/make/todo-grep
  lib/tf_lock/TESTING.md
Due: pyright-verifytypes-lib

remove disused lib/github-app
  lib/github-app/device-flow/.gitignore
  lib/github-app/device-flow/01-device-code
  lib/github-app/device-flow/03-user-code-prompt
  lib/github-app/device-flow/04-poll-for-completion
  lib/github-app/device-flow/06-use-token
  lib/github-app/device-flow/README.md
  lib/github-app/device-flow/tacos-gha-author/client-id
  lib/github-app/device-flow/tacos-gha-author/client-secret
  lib/github-app/device-flow/tacos-gha-author/home
  lib/github-app/device-flow/tacos-gha-author/id
  lib/github-app/device-flow/tacos-gha-reviewer/client-id
  lib/github-app/device-flow/tacos-gha-reviewer/client-secret
  lib/github-app/device-flow/tacos-gha-reviewer/home
  lib/github-app/device-flow/tacos-gha-reviewer/id
Due: pyright-verifytypes-lib

aggregate, organize, and update our todo items
  .shellcheckrc
  Makefile
  TODO.grep.md
  TODO.md
  doc/user-study/neo.2024-01-30.md
  lib/ci/tacos-apply
  lib/ci/tacos-plan
  lib/make/todo-grep
  lib/sh/cd.py
  lib/sh/io.py
  lib/tf_lock/tf-lock-info
  lib/tf_lock/tf_lock.py
  spec/behaviors/force_unlock_on_dirty.py
  spec/conftest.py
  spec/lib/tacos_demo.py
  spec/scenarios/abandon_a_branch.py
  spec/scenarios/drift_detection.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

fix: allow for DEBUG unset
  lib/unix/tty-attach
Due: pyright-verifytypes-lib

fix(tf-lock-acquire): allow for "this make take some time" message
  lib/tf_lock/acquire.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

prioritized and assign remaining todos
  TODO.md
Due: none

fix: approval is different than approvers: $GITHUB_PR_APPROVED
  .github/workflows/tacos_apply.yml
  TODO.md
  lib/ci/github-pr-setenv
  lib/ci/tacos-apply
Due: pyright-verifytypes-lib

fix(unlock): we need ssh there too, apparently
  .github/workflows/tacos_unlock.yml
Due: none

touch up debug output
  lib/ci/release-lock
  lib/github-actions/set-env
  lib/github-actions/set-output
  lib/github-actions/step-summary
Due: pyright-verifytypes-lib

fix(tf-lock-info): prevent infinite regress
  TODO.md
  lib/tf_lock/tf-lock-info
Due: pyright-verifytypes-lib

Denies apply and notifies the user for drafts and closed PRs.
  lib/ci/tacos-apply
Due: pyright-verifytypes-lib

Updates with suggestions.
  TODO.md
  lib/ci/github-pr-setenv
  lib/ci/tacos-apply
Due: pyright-verifytypes-lib

Allows drafts to get an error message comment on apply.
  .github/workflows/tacos_apply.yml
Due: none

Use the USER of the PR creator when unlocking during PR close.
  .github/workflows/tacos_unlock.yml
Due: none

Use the USER configurability that already existed.
  .github/actions/set-username-and-hostname/action.yml
  .github/actions/setup/action.yml
  .github/workflows/tacos_unlock.yml
  TODO.md
Due: none

Adds test for unlock on close by a different user.
  spec/behaviors/unlock_on_close.py
  spec/lib/gh/pr.py
  spec/lib/tacos_demo.py
Due: isort, pyright, mypy

Pushes default USER up into setup action.
  .github/actions/scratch/action.yml
  .github/actions/set-username-and-hostname/action.yml
  .github/actions/setup/action.yml
Due: none

Handles the case where a bot username has square brackets.
  .github/actions/set-username-and-hostname/action.yml
Due: none

Removes accidentally added override USER step.
  .github/workflows/tacos_unlock.yml
Due: none

Fixes the conditional for unlocking on close.
  .github/workflows/tacos_unlock.yml
Due: none

Path conditions:
  isort: any of: \.py$
  pyright: any of: \.py$
  mypy: any of: \.py$
  pyright-verifytypes-lib: any of: ^lib/
  pyright-verifytypes-spec: any of: ^manual_tests/
  pyright-verifytypes-tf-lock: any of: ^lib/tf_lock/lib/
