Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec, pyright-verifytypes-tf-lock

isort:
  name: isort
  language: system
  entry: isort

pyright:
  name: pyright
  language: system
  entry: pyright

mypy:
  name: mypy
  language: system
  entry: mypy

pyright-verifytypes-lib:
  name: 'pyright verify: lib'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib
  pass_filenames: false

pyright-verifytypes-spec:
  name: 'pyright verify: spec'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes manual_tests
  pass_filenames: false

pyright-verifytypes-tf-lock:
  name: 'pyright verify: tf-lock'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib/tf_lock/lib
  pass_filenames: false

fixed test cases
  spec/lib/testing.py
Due: isort, pyright, mypy

fix(workflows): skip empty matrixes; formatting
  .github/workflows/readme.md
  .github/workflows/reset-label.yml
  .github/workflows/scratch.yml
  .github/workflows/selftest-matrix-io.yml
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_conflict_detection.yml
  .github/workflows/tacos_detect_drift.yml
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
Due: none

skip summarizing a skipped matrix
  .github/workflows/tacos_plan.yml
Due: none

update github-action job names for test
  spec/behaviors/unlock_on_close.py
  spec/behaviors/unlock_on_merge.py
  spec/lib/testing.py
  spec/scenarios/draft_pr.py
Due: isort, pyright, mypy

surface slices ignored due to allowlisting
  .github/actions/list-slices/action.yml
  lib/tacos/dependent-slices
  lib/tacos/dependent_slices.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

Update activate.sh
  activate.sh
Due: none

fix: update message
  activate.sh
Due: none

remove unused mypy ignore
  lib/tacos/conflict_detection.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

fix: direnv correctly picks up flock
  activate.sh
  lib/unix/flock
Due: pyright-verifytypes-lib

slightly works, in theory
  bin/gha-pr-comment
  lib/ci/__init__.py
  lib/ci/tacos-plan-summary
  lib/ci/tacos_plan_summary.py
  lib/ci/tacos_plan_summary_test.py
  lib/github_actions/pr-comment
  lib/github_actions/pr_comment.py
  lib/tf_lock/tf_lock_acquire.py
  lib/types.py
  lib/unix/flock
  requirements-dev.txt
  spec/lib/gh/comment.py
  spec/lib/gh/gh.py
  spec/lib/gh/pr.py
  spec/lib/gh/types.py
  spec/lib/tacos_demo.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

partially tested
  lib/ci/tacos_plan_summary.py
  lib/ci/tacos_plan_summary_test.py
  lib/types.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

Add link to install doc in readme
  README.md
Due: none

updating casing
  README.md
Due: none

tests all passing
  lib/ci/tacos_plan_summary.py
  lib/ci/tacos_plan_summary_test.py
  lib/github_actions/pr_comment.py
  lib/types.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

dry? good idea?
  lib/ci/tacos_plan_summary.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

DRY dirty vs error sections
  .github/workflows/scratch.yml
  lib/ci/tacos_plan_summary.py
  lib/ci/tacos_plan_summary_test.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

removing totalled decorator
  lib/ci/tacos_plan_summary.py
  lib/ci/tacos_plan_summary_test.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

removing totalled decorator
  lib/ci/tacos_plan_summary.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

removed @totalled, replaced with lines_totalled()
  lib/ci/tacos_plan_summary.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

tests pass.
  lib/ci/tacos_plan_summary.py
  lib/ci/tacos_plan_summary_test.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

new file lib.byte_budget
  lib/byte_budget.py
  lib/ci/tacos_plan_summary.py
  lib/ci/tacos_plan_summary_test.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

fix double counting; clarify header
  lib/ci/tacos_plan_summary.py
  lib/ci/tacos_plan_summary_test.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

handle super big terraform changes via progressive summarization
  .github/workflows/scratch.yml
  README.md
  lib/byte_budget.py
  lib/ci/__init__.py
  lib/ci/tacos-plan-summary
  lib/ci/tacos_plan_summary.py
  lib/ci/tacos_plan_summary_test.py
  lib/tf_lock/tf_lock_acquire.py
  lib/types.py
  lib/unix/flock
  requirements-dev.txt
  spec/lib/gh/pr.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

add url to tacos-plan summary
  .github/actions/just-the-basics/action.yml
  .github/actions/setup/action.yml
  .github/workflows/tacos_apply.yml
  lib/ci/bin/tf-step-summary
  lib/ci/tacos_plan_summary.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

update tests
  lib/ci/tacos_plan_summary.py
  lib/ci/tacos_plan_summary_test.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

Unlock: success on other user holding lock
  lib/ci/release-lock
Due: pyright-verifytypes-lib

auto-commit: GHA deps, for test
  .github/workflows/tacos_unlock.yml
Due: none

post comment
  .github/workflows/tacos_unlock.yml
Due: none

cleaned up the message
  lib/ci/tacos-unlock-summary
  lib/ci/tacos_unlock_summary.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

call the script
  .github/workflows/tacos_unlock.yml
Due: none

fix the header link
  lib/ci/tacos_unlock_summary.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

refactored
  lib/ci/tacos_plan_summary.py
  lib/ci/tacos_summary.py
  lib/ci/tacos_unlock_summary.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

refactored
  lib/ci/tacos_plan_summary.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

use script wrapper to get packages right
  lib/ci/tacos-plan-summary
  lib/ci/tacos-unlock-summary
  lib/ci/tacos_plan_summary.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

chmod
  lib/ci/tacos-plan-summary
  lib/ci/tacos-unlock-summary
Due: pyright-verifytypes-lib

don't override `terragrunt` for activate.sh users
  TODO.md
  bin/terragrunt
  bin/terragrunt-noninteractive
  lib/ci/bin/terragrunt-noninteractive
  lib/terragrunt/slices
Due: pyright-verifytypes-lib

still override `terragrunt` for ci jobs
  lib/ci/bin/terragrunt
Due: pyright-verifytypes-lib

terragrunt-noninteractive: shorten $PWD more reliably
  lib/ci/bin/terragrunt-noninteractive
Due: pyright-verifytypes-lib

fix(ci/bin/terragrunt-noninteractive): allow for non-override naming
  lib/ci/bin/terragrunt-noninteractive
Due: pyright-verifytypes-lib

Fan in summary for apply job
  .github/workflows/tacos_apply.yml
  lib/ci/tacos-apply-summary
  lib/ci/tacos_apply_summary.py
  lib/ci/tacos_summary.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

Path conditions:
  isort: any of: \.py$
  pyright: any of: \.py$
  mypy: any of: \.py$
  pyright-verifytypes-lib: any of: ^lib/
  pyright-verifytypes-spec: any of: ^manual_tests/
  pyright-verifytypes-tf-lock: any of: ^lib/tf_lock/lib/
