Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pyright, pyright-verifytypes-lib, pyright-verifytypes-spec

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: system
        types:
          - text

      - id: black
        name: black
        entry: black
        language: system
        types:
          - python

      - id: isort
        name: isort
        entry: isort
        language: system
        types:
          - python

      - id: pyright
        name: pyright
        entry: ./lib/make/bin/pyright
        language: system
        types:
          - python

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types:
          - shell

      - id: pyright-verifytypes-lib
        name: "pyright verify: lib"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib
        files: "^lib/"
        pass_filenames: false

      - id: pyright-verifytypes-spec
        name: "pyright verify: spec"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes spec
        files: "^spec/"
        pass_filenames: false

Fix apply summary to recognize OpenTofu output
  lib/ci/tacos_summary.py
Due: black, isort, pyright, pyright-verifytypes-lib

Fix remaining hardcoded terraform references for OpenTofu compat
  lib/tf_lock/release.py
  spec/behaviors/apply_on_update.py
  spec/behaviors/force_unlock_on_happy_path.py
  spec/behaviors/plan_on_push.py
Due: black, isort, pyright, pyright-verifytypes-lib, pyright-verifytypes-spec

Apply suggestions from code review
  spec/behaviors/force_unlock_on_happy_path.py
Due: black, isort, pyright, pyright-verifytypes-spec

Update spec/behaviors/plan_on_push.py
  spec/behaviors/plan_on_push.py
Due: black, isort, pyright, pyright-verifytypes-spec

Apply suggestion from @dmajere
  spec/behaviors/plan_on_push.py
Due: black, isort, pyright, pyright-verifytypes-spec

Fix TACOS OpenTofu compatibility issues (#320)
  lib/ci/bin/terragrunt-noninteractive
  lib/ci/tacos_summary.py
  lib/tf_lock/lib/acquire.py
  lib/tf_lock/release.py
  lib/tf_lock/tf-lock-info
  spec/behaviors/apply_on_update.py
  spec/behaviors/force_unlock_on_happy_path.py
  spec/behaviors/plan_on_push.py
Due: black, isort, pyright, pyright-verifytypes-lib, pyright-verifytypes-spec

change(acquire): Add debug output for failure in aquire
  lib/tf_lock/lib/acquire.py
Due: black, isort, pyright, pyright-verifytypes-lib

change(acquire): Add debug output for failure in aquire (#322)
  lib/tf_lock/lib/acquire.py
Due: black, isort, pyright, pyright-verifytypes-lib

Remove TF_VERSION and Setup Terraform step
  .github/actions/setup/action.yml
Due: none

Remove TF_VERSION and Setup Terraform step (#324)
  .github/actions/setup/action.yml
Due: none

Plan sibling slices when a shared module is emptied
  lib/tacos/dependent_slices.py
  lib/tacos/dependent_slices_test.py
Due: black, isort, pyright, pyright-verifytypes-lib

Fix dependent slice planning when a slice is emptied (#319)
  lib/tacos/dependent_slices.py
  lib/tacos/dependent_slices_test.py
Due: black, isort, pyright, pyright-verifytypes-lib

Don't crash when a chunked read splits a multi-byte character
  lib/tf_lock/lib/acquire.py
Due: black, isort, pyright, pyright-verifytypes-lib

Don't crash when a chunked read splits a multi-byte character (#328)
  lib/tf_lock/lib/acquire.py
Due: black, isort, pyright, pyright-verifytypes-lib
