Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec, pyright-verifytypes-tf-lock

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier --write --ignore-unknown

      - id: black
        name: black
        language: system
        entry: ./lib/make/bin/black
        pass_filenames: false

      - id: isort
        name: isort
        language: system
        entry: isort
        files: '\.py$'

      - id: pyright
        name: pyright
        language: system
        entry: pyright
        files: '\.py$'

      - id: mypy
        name: mypy
        language: system
        entry: mypy
        files: '\.py$'

      - id: pyright-verifytypes-lib
        name: "pyright verify: lib"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib
        files: "^lib/"
        pass_filenames: false

      - id: pyright-verifytypes-spec
        name: "pyright verify: spec"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes manual_tests
        files: "^manual_tests/"
        pass_filenames: false

      - id: pyright-verifytypes-tf-lock
        name: "pyright verify: tf-lock"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib/tf_lock/lib
        files: "^lib/tf_lock/lib/"
        pass_filenames: false

      - id: shellcheck
        name: shellcheck
        language: system
        entry: ./lib/make/bin/shellcheck

add the terraformer stuff
  .github/workflows/tacos_unlock.yml
Due: none

make tf-lock-info use gcloud storage cat
  .github/workflows/tacos_unlock.yml
  lib/ci/list-terraformers
  lib/sh/sh.py
  lib/tacos/terraformers.py
  lib/tf_lock/TESTING.md
  lib/tf_lock/release.py
  lib/tf_lock/tf_lock_info.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

fix chmod
  lib/tacos/handle-tflock-cache
Due: pyright-verifytypes-lib

auto-commit: GHA deps, for test
  lib/tf_lock/tf_lock_info.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

auto-commit: GHA deps, for test
  lib/tacos/handle-tflock-cache
  lib/tacos/plan
Due: pyright-verifytypes-lib

auto-commit: GHA deps, for test
  lib/tacos/plan
Due: pyright-verifytypes-lib

oops forgot to add the new file
  lib/tacos/lib/handle-tflock-cache
Due: pyright-verifytypes-lib

auto-commit: GHA deps, for test
  lib/ci/list-terraformers
  lib/tacos/terraformers.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

auto-commit: GHA deps, for test
  lib/tacos/terraformers.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

auto-commit: GHA deps, for test
  lib/tf_lock/release.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

auto-commit: GHA deps, for test
  .github/workflows/tacos_unlock.yml
  lib/tf_lock/release.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

auto-commit: GHA deps, for test
  .github/workflows/tacos_unlock.yml
Due: none

chmod
  lib/ci/unlock
Due: pyright-verifytypes-lib

reformat
  .github/workflows/tacos_unlock.yml
  lib/ci/bin/save-matrix-fan-out
  lib/ci/bin/tf-step-summary
  lib/ci/unlock
  lib/tf_lock/release.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

unlock many matrix jobs
  .github/workflows/tacos_unlock.yml
  lib/ci/bin/save-matrix-fan-out
  lib/ci/bin/tf-step-summary
  lib/ci/bin/unlock-one
  lib/ci/tacos_summary.py
  lib/ci/tacos_unlock_summary.py
  lib/ci/unlock
Due: isort, pyright, mypy, pyright-verifytypes-lib

list-terraformers now has a gha summary
  .github/workflows/tacos_unlock.yml
Due: none

set missing DEBUG vars
  lib/ci/bin/default-shell-post-sudo
  lib/unix/quietly
Due: pyright-verifytypes-lib

requirements: bump
  requirements-dev.txt
Due: none

global is unused
  spec/lib/gh/pr.py
Due: isort, pyright, mypy

unlock: list slices, not lockfiles
  .github/workflows/tacos_unlock.yml
  lib/ci/tacos_summary.py
  lib/ci/tacos_unlock_summary.py
  lib/tacos/terraformers.py
  lib/tf_lock/release.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

debug less noisy
  lib/ci/bin/terragrunt-noninteractive
  lib/gcloud/gcloud-auth-export-access-token
  lib/gcloud/sudo-gcp
  lib/gcloud/sudo-gcp-service-account
  lib/tf_lock/lib/env.sh
Due: pyright-verifytypes-lib, pyright-verifytypes-tf-lock

give chmod
  lib/ci/bin/unlock-one
Due: pyright-verifytypes-lib

add input for matrix
  .github/actions/matrix-fan-out/action.yml
Due: none

we have shorter matrix name now
  .github/workflows/tacos_unlock.yml
Due: none

tf step summary already will cd
  lib/ci/bin/unlock-one
Due: pyright-verifytypes-lib

added path to matrix fan in
  .github/workflows/tacos_unlock.yml
Due: none

added path to matrix fan in
  .github/actions/matrix-fan-in/action.yml
Due: none

debug to see if exists
  .github/actions/matrix-fan-in/rename-tmp-dirs.sh
Due: none

debug to see if exists
  .github/actions/matrix-fan-in/action.yml
Due: none

auto-commit: GHA deps, for test
  .github/actions/matrix-fan-in/action.yml
  .github/workflows/tacos_unlock.yml
Due: none

auto-commit: GHA deps, for test
  .github/actions/matrix-fan-in/action.yml
Due: none
