Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec, pyright-verifytypes-tf-lock

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier --write --ignore-unknown

      - id: black
        name: black
        language: system
        entry: ./lib/make/bin/black
        pass_filenames: false

      - id: isort
        name: isort
        language: system
        entry: isort
        files: '\.py$'

      - id: pyright
        name: pyright
        language: system
        entry: pyright
        files: '\.py$'

      - id: mypy
        name: mypy
        language: system
        entry: mypy
        files: '\.py$'

      - id: pyright-verifytypes-lib
        name: "pyright verify: lib"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib
        files: "^lib/"
        pass_filenames: false

      - id: pyright-verifytypes-spec
        name: "pyright verify: spec"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes manual_tests
        files: "^manual_tests/"
        pass_filenames: false

      - id: pyright-verifytypes-tf-lock
        name: "pyright verify: tf-lock"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib/tf_lock/lib
        files: "^lib/tf_lock/lib/"
        pass_filenames: false

      - id: shellcheck
        name: shellcheck
        language: system
        entry: ./lib/make/bin/shellcheck

auto-commit: GHA deps, for test
  lib/tacos/plan
Due: pyright-verifytypes-lib

debugging github
  lib/sh/io.py
  lib/tacos/plan
  spec/lib/gh/check_run.py
  spec/lib/slice.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

auto-commit: GHA deps, for test
  .github/workflows/tacos_plan.yml
  lib/tacos/plan
Due: pyright-verifytypes-lib

auto-commit: GHA deps, for test
  .github/workflows/tacos_plan.yml
Due: none

removing the extra stuff
  .github/workflows/tacos_plan.yml
  lib/tacos/plan
Due: pyright-verifytypes-lib

added basic setup, handle-tflock-cache, and python formatting
  .github/actions/basic-setup/action.yml
  .github/workflows/tacos_unlock.yml
  lib/tacos/handle-tflock-cache
  lib/tacos/plan
  pyproject.toml
  spec/lib/slice.py
Due: isort, pyright, mypy, pyright-verifytypes-lib
