Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec, pyright-verifytypes-tf-lock

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier --write --ignore-unknown

      - id: black
        name: black
        language: system
        entry: ./lib/make/bin/black
        pass_filenames: false

      - id: isort
        name: isort
        language: system
        entry: isort
        files: '\.py$'

      - id: pyright
        name: pyright
        language: system
        entry: pyright
        files: '\.py$'

      - id: mypy
        name: mypy
        language: system
        entry: mypy
        files: '\.py$'

      - id: pyright-verifytypes-lib
        name: "pyright verify: lib"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib
        files: "^lib/"
        pass_filenames: false

      - id: pyright-verifytypes-spec
        name: "pyright verify: spec"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes manual_tests
        files: "^manual_tests/"
        pass_filenames: false

      - id: pyright-verifytypes-tf-lock
        name: "pyright verify: tf-lock"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib/tf_lock/lib
        files: "^lib/tf_lock/lib/"
        pass_filenames: false

      - id: shellcheck
        name: shellcheck
        language: system
        entry: ./lib/make/bin/shellcheck

bash tricks
  lib/ci/set-terraformer
  lib/ci/set-workload-identity-provider
Due: pyright-verifytypes-lib

workload-identity-provider gets passed quite a bit of stuff
  .github/actions/setup/action.yml
  lib/ci/set-workload-identity-provider
Due: pyright-verifytypes-lib

trying this one more time, it should work
  .github/actions/setup/action.yml
  lib/ci/set-workload-identity-provider
Due: pyright-verifytypes-lib

while doing tf-sandbox
  lib/gcloud/sudo-gcp
  lib/gcloud/sudo-gcp-service-account
  lib/terragrunt/terragrunt-noninteractive
Due: pyright-verifytypes-lib

sketch of what we need to fix unlock bug, with neo
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_unlock.yml
  TODO.md
  lib/ci/set-terraformer
Due: pyright-verifytypes-lib

sketch of list-terraformers script
  lib/ci/list-terraformers
  lib/tacos/terraformers.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

new setup
  .github/workflows/tacos_unlock.yml
  lib/ci/list-terraformers
  lib/ci/set-terraformer
  lib/ci/set-workload-identity-provider
  lib/tacos/terraformers.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

update pr comment
  .github/workflows/tacos_unlock.yml
Due: none

chmod
  lib/ci/list-terraformers
Due: pyright-verifytypes-lib

more chmod
  lib/tacos/terraformers.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

i think this is supposed to be a pipe
  .github/workflows/tacos_unlock.yml
Due: none

added terragrunt and terraform setup
  .github/workflows/tacos_unlock.yml
  lib/ci/list-terraformers
  lib/tacos/terraformers.py
  lib/terragrunt/slices
Due: isort, pyright, mypy, pyright-verifytypes-lib

clean up ocid_provider call
  lib/tacos/terraformers.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

json dumps needs list
  lib/tacos/terraformers.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

trying this out to make json happy
  lib/tacos/terraformers.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

properly set the output
  .github/workflows/tacos_unlock.yml
Due: none

this should unlock all slices, matrix style
  .github/workflows/tacos_unlock.yml
  lib/ci/unlock
Due: pyright-verifytypes-lib

if statement might be broken. fixed
  .github/workflows/tacos_unlock.yml
  lib/tacos/terraformers.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

add debugging step
  .github/workflows/tacos_unlock.yml
Due: none

im missing a pipe
  lib/ci/list-terraformers
Due: pyright-verifytypes-lib

this might be why
  .github/workflows/tacos_unlock.yml
Due: none

stealing all the setup tasks
  .github/workflows/tacos_unlock.yml
Due: none

custom setup probably..
  .github/workflows/tacos_unlock.yml
Due: none

tf lock acquire exit is not consistent, tthis fixes it
  lib/tf_lock/lib/acquire.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

make tf-lock use terragrunt-noninteractive
  lib/tf_lock/bin/terragrunt
  lib/tf_lock/lib/env.py
  lib/tf_lock/lib/env.sh
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

prettier
  doc/INSTALL.md
  lib/ci/tacos_apply_summary.py
  lib/ci/tacos_plan_summary.py
  lib/tf_lock/lib/env.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

Testing tacos unlock with getting all changed files in history of a PR
  .github/workflows/tacos_unlock.yml
Due: none

WIP. this todo has quite a bit of stuff
  TODO.md
Due: none

Update TODO.md
  TODO.md
Due: none

trying out commenting on PR
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
  lib/ci/tacos_plan_files
  lib/ci/tacos_plan_files.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

naming
  .github/workflows/tacos_plan.yml
  lib/ci/tacos_plan_files
Due: pyright-verifytypes-lib

forgot to add new name
  lib/ci/tacos-plan-files
Due: pyright-verifytypes-lib

fix TODO.md typo
  TODO.md
Due: none

Clean up
  .github/workflows/tacos_plan.yml
  lib/ci/tacos_plan_files.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

# This is a combination of 7 commits. # This is the 1st commit message:
  .github/workflows/tacos_unlock.yml
  lib/ci/list-terraformers
Due: pyright-verifytypes-lib

direct add in the editted files using slices.py
  lib/ci/list-terraformers
  lib/tacos/terraformers.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

give it the SA as input
  .github/actions/basic-setup/action.yml
Due: none

refactored to create basic setup derived from setup
  .github/actions/basic-setup/action.yml
  .github/workflows/tacos_unlock.yml
Due: none

add gcp auth
  .github/actions/basic-setup/action.yml
  .github/workflows/tacos_unlock.yml
Due: none

correct details for failure
  lib/ci/unlock
Due: pyright-verifytypes-lib
