Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec, pyright-verifytypes-tf-lock

isort:
  name: isort
  language: system
  entry: isort

pyright:
  name: pyright
  language: system
  entry: pyright

mypy:
  name: mypy
  language: system
  entry: mypy

pyright-verifytypes-lib:
  name: 'pyright verify: lib'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib
  pass_filenames: false

pyright-verifytypes-spec:
  name: 'pyright verify: spec'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes manual_tests
  pass_filenames: false

pyright-verifytypes-tf-lock:
  name: 'pyright verify: tf-lock'
  language: system
  entry: ./lib/make/bin/pyright-verifytypes lib/tf_lock/lib
  pass_filenames: false

restore `$slice` normalization
  lib/ci/bin/tf-log-normalize
  lib/ci/bin/tf-step-summary
  lib/ci/tacos-plan-summary
  lib/github_actions/step-summary
  spec/behaviors/plan_on_push.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

handle color codes in tf-log-normalize
  lib/ci/bin/tf-log-normalize
Due: pyright-verifytypes-lib

use customized pr fixture
  spec/behaviors/plan_on_push.py
Due: isort, pyright, mypy

testing color
  lib/tf_lock/acquire.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

restore the old summary, fot the time being
  .github/workflows/tacos_plan.yml
  lib/ci/bin/tf-step-summary
  lib/ci/tacos-plan-summary
  lib/unix/quietly
Due: pyright-verifytypes-lib

Moving the custom GHA changes to a seperate PR.
  .github/actions/matrix-fan-in/action.yml
  .github/actions/matrix-fan-in/rename-tmp-dir.sh
  .github/actions/matrix-fan-in/rename-tmp-dirs.sh
  .github/actions/matrix-fan-in/selftest-summary.sh
  .github/actions/matrix-fan-in/selftest.sh
  .github/actions/matrix-fan-in/set-artifact-name.sh
  .github/actions/matrix-fan-out/README.md
  .github/actions/matrix-fan-out/action.yml
  .github/actions/matrix-fan-out/prepare.sh
  .github/actions/matrix-fan-out/selftest.sh
  .github/actions/matrix-fan-out/set-artifact-name.sh
  .github/actions/matrix-fan-out/square.py
  .github/workflows/selftest-matrix-io.yml
Due: isort, pyright, mypy

restore comment tags in legacy summary; summarize errors too
  .github/workflows/tacos_plan.yml
  lib/ci/bin/tf-step-summary
  spec/lib/tacos_demo.py
  spec/scenarios/lock_contention.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

dependency version bump
  requirements-dev.txt
Due: none

fix: always upload
  .github/workflows/tacos_plan.yml
Due: none

todo
  TODO.grep.md
  TODO.md
Due: none

more color testing
  TODO.grep.md
  lib/tf_lock/acquire.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

Update TODO.grep.md
  TODO.grep.md
Due: none

fixing unintended changes
  activate.sh
  spec/conftest.py
Due: isort, pyright, mypy

Revert "fixing unintended changes"
  activate.sh
  spec/conftest.py
Due: isort, pyright, mypy

updating to try out color
  lib/tf_lock/acquire.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

Splits installation instructions into separate file.
  doc/INSTALL.md
  doc/USER_GUIDE.md
Due: none

Clarifies language on locks and private keys.
  doc/USER_GUIDE.md
  doc/workflows/terraform_apply.yml
  doc/workflows/terraform_detect_drift.yml
  doc/workflows/terraform_plan.yml
  doc/workflows/terraform_unlock.yml
Due: none

fixed behavior for if lock doesn't exist and took out HERE
  lib/tf_lock/lib/acquire.py
  lib/tf_lock/lib/env.py
  lib/tf_lock/tf-lock-acquire
  lib/tf_lock/tf_lock_acquire.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

feat(lib.pytest.cap1fd): tee whenever we're not multiprocessing
  lib/constants.py
  lib/patched.py
  lib/pytest/cap1fd.py
  lib/pytest/cap1fd_plugin.py
  pyproject.toml
  spec/behaviors/message_on_lock_failure.py
  spec/lib/gh/check.py
  spec/lib/gh/pr.py
  spec/lib/slice.py
  spec/lib/tacos_demo.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

editing the message to account for manual lock grabbing
  lib/tf_lock/tf_lock_acquire.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

Update activate.sh
  activate.sh
Due: none

printing out the slice
  lib/tf_lock/tf_lock_acquire.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

Marking this task as done
  TODO.md
Due: none

cleaning up
  lib/tf_lock/tf_lock_acquire.py
  spec/behaviors/message_on_lock_failure.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

auto-commit: GHA deps, for test
  lib/tf_lock/tf_lock_acquire.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

fixing test case message
  spec/behaviors/message_on_lock_failure.py
Due: isort, pyright, mypy

fixing test cases
  spec/behaviors/apply_on_update.py
  spec/behaviors/plan_on_push.py
  spec/scenarios/lock_contention.py
Due: isort, pyright, mypy

fixed the test cases
  spec/behaviors/apply_on_update.py
  spec/behaviors/plan_on_push.py
Due: isort, pyright, mypy

minor build process fix
  lib/make/pip-compile
  requirements-dev.txt
Due: pyright-verifytypes-lib

roll: tee if not multiproc
  TODO.grep.md
  lib/make/test
  lib/pytest/cap1fd.py
  lib/pytest/configure_pytest_repr_length.py
  pyproject.toml
Due: isort, pyright, mypy, pyright-verifytypes-lib

test fixes
  lib/ci/tacos-plan-summary
  lib/sh/sh.py
  lib/sh/types.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

roll: tee whenever
  spec/lib/gh/check.py
Due: isort, pyright, mypy

roll: 2574 testing...
  lib/tacos/conflict_detection.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

fix: automatically install using make if flock isn't installed. and use bashsource to overcome shebang
  activate.sh
Due: none

move pytest plugins down into their own sub-module
  conftest.py
  lib/pytest/cap1fd.py
  lib/pytest/configure_pytest_repr_length.py
  lib/pytest/plugin/__init__.py
  lib/pytest/plugin/cap1fd.py
  lib/pytest/plugin/pytest_repr_length.py
  pyproject.toml
Due: isort, pyright, mypy, pyright-verifytypes-lib

add a "collectonly-json" plugin
  conftest.py
  lib/make/test
  lib/pytest/plugin/collectonly_json.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

adjust lock-contention test
  lib/ci/tacos-plan-summary
  lib/types.py
  spec/scenarios/lock_contention.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

test fix: lock contention
  TODO.grep.md
  lib/pytest/cap1fd_test.py
  spec/behaviors/message_on_lock_failure.py
  spec/lib/gh/pr.py
  spec/lib/testing.py
  spec/scenarios/lock_contention.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

Path conditions:
  isort: any of: \.py$
  pyright: any of: \.py$
  mypy: any of: \.py$
  pyright-verifytypes-lib: any of: ^lib/
  pyright-verifytypes-spec: any of: ^manual_tests/
  pyright-verifytypes-tf-lock: any of: ^lib/tf_lock/lib/
