Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier --write --ignore-unknown

      - id: black
        name: black
        language: system
        entry: black
        files: '\.py$'

      - id: isort
        name: isort
        language: system
        entry: isort
        files: '\.py$'

      - id: pyright
        name: pyright
        language: system
        entry: pyright
        files: '\.py$'

      - id: mypy
        name: mypy
        language: system
        entry: mypy
        files: '\.py$'

      - id: pyright-verifytypes-lib
        name: "pyright verify: lib"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib
        files: '^lib/.*\.py$'
        pass_filenames: false

      - id: pyright-verifytypes-spec
        name: "pyright verify: spec"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes manual_tests
        files: '^manual_tests/.*\.py$'
        pass_filenames: false

      - id: shellcheck
        name: shellcheck
        language: system
        entry: ./lib/make/bin/shellcheck

auto-commit: .github, for test
  .github/workflows/tacos_lock.yml
Due: none

exclude all _diag files
  .github/actions/set-username-and-hostname/action.yml
Due: none

remove debug
  lib/ci/default-shell-post-sudo
  lib/make/lint
  lib/wait.py
  manual_tests/behaviors/apply_on_update.py
  manual_tests/conftest.py
  manual_tests/lib/gh/pr.py
  manual_tests/lib/slice.py
  manual_tests/lib/tacos_demo.py
  pyproject.toml
Due: black, isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

wip: "run tests against my code"
  lib/sh/io.py
  lib/sh/json.py
  lib/sh/sh.py
  lib/wait.py
  manual_tests/behaviors/apply_on_update.py
  manual_tests/conftest.py
  manual_tests/lib/gh/check.py
  pyproject.toml
Due: black, isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

fix: macos sed support
  manual_tests/conftest.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

remove debug
  .github/workflows/tacos_lock.yml
Due: none

update all workflows to new direnv pattern
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_detect_drift.yml
  .github/workflows/tacos_lock.yml
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
Due: none

First stab at using installation access tokens to approve PRs.
  Brewfile
  manual_tests/lib/gh/approver.py
  manual_tests/lib/gh/pr.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

Change 1pw path and add jwt dependency.
  manual_tests/lib/gh/approver.py
  requirements-dev.in
  requirements-dev.txt
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

Switch to PyJWT and handle checking for approval.
  manual_tests/behaviors/unlock_on_merge.py
  manual_tests/lib/gh/approver.py
  manual_tests/lib/gh/pr.py
  requirements-dev.in
  requirements-dev.txt
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

Adds pylint and recreates requirements.txt.
  requirements-dev.in
  requirements-dev.txt
Due: none

Fixing tf-lock-release and updating force unlock test
  lib/tf-lock/tf-lock-release
  manual_tests/behaviors/force_unlock_on_happy_path.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

Allow merge to work now.
  manual_tests/behaviors/unlock_on_merge.py
  manual_tests/lib/gh/pr.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

edit demo workflows even when their branch isn't `main`
  manual_tests/conftest.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

auto-commit: .github, for test
  .github/workflows/scratch.yml
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_detect_drift.yml
  .github/workflows/tacos_lock.yml
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
Due: none

auto-commit: .github, for test
  .github/workflows/scratch.yml
  .github/workflows/tacos_lock.yml
  .github/workflows/tacos_unlock.yml
Due: none

too much D:
  .envrc
  Brewfile
  lib/make/brew
  lib/make/pip-compile
  lib/make/pyenv
  lib/sh/io.py
  lib/sh/sh.py
  lib/wait.py
  manual_tests/behaviors/apply_on_update.py
  manual_tests/behaviors/drift_detection.py
  manual_tests/behaviors/force_unlock_on_dirty.py
  manual_tests/behaviors/force_unlock_on_happy_path.py
  manual_tests/behaviors/lock_on_pr.py
  manual_tests/behaviors/message_on_lock_failure.py
  manual_tests/behaviors/plan_on_push.py
  manual_tests/behaviors/unlock_on_merge.py
  manual_tests/conftest.py
  manual_tests/lib/gh/app.py
  manual_tests/lib/gh/approver.py
  manual_tests/lib/gh/check.py
  manual_tests/lib/gh/check_run.py
  manual_tests/lib/gh/gh.py
  manual_tests/lib/gh/jwt.py
  manual_tests/lib/gh/pr.py
  manual_tests/lib/gh/repo.py
  manual_tests/lib/gh/types.py
  manual_tests/lib/tacos_demo.py
  manual_tests/scenarios/abandon_a_branch.py
  manual_tests/scenarios/draft_pr.py
  manual_tests/scenarios/drift_remediation.py
  manual_tests/scenarios/feature_branch_happy_path.py
  manual_tests/scenarios/lock_contention.py
  manual_tests/scenarios/separate_changes_dont_conflict.py
  pyproject.toml
  requirements-dev.in
  requirements-dev.txt
Due: black, isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

Implements allowlist for slices.
  lib/tacos/dependent_slices.py
Due: black, isort, pyright, mypy, pyright-verifytypes-lib

Switches to fnmatch for matching.
  lib/tacos/dependent_slices.py
Due: black, isort, pyright, mypy, pyright-verifytypes-lib

update sudo-gcp config format, one last time
  lib/getsentry-sac/sac-terraformer
Due: none

expose terragrunt-* commands
  .github/workflows/tacos_unlock.yml
  bin/terragrunt-noninteractive
  bin/terragrunt-slices
  lib/terragrunt/terragrunt-noninteractive
  manual_tests/lib/tf.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

expose gha-log-as-step-summary
  .github/workflows/tacos_lock.yml
  .github/workflows/tacos_unlock.yml
  bin/gha-log-as-step-summary
Due: none

expose `gha-set-env`
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_detect_drift.yml
  .github/workflows/tacos_lock.yml
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
  bin/gha-set-env
Due: none

expose git-ls-* commands
  bin/git-ls-mimetype
  bin/git-ls-python
  bin/git-ls-sh
  lib/git/ls-mimetype
  lib/git/ls-python
  lib/git/ls-sh
  lib/unix/git-ls-python
  lib/unix/git-ls-sh
Due: none

expose lib/unix commands
  bin/nearest-config-file
  bin/uncolor
Due: none

expose tf-lock commands
  .github/workflows/tacos_unlock.yml
  bin/tf-lock-release
Due: none

remove unused PATH entries
  .envrc
  bin/sac-terraformer
  bin/sudo-gcp
Due: none

Adding linting workflow to ci
  .github/workflows/lint.yml
  .github/workflows/tacos_lock.yml
  lib/github-app/device-flow/README.md
  lib/make/format
Due: none

Debugging
  lib/make/lint
Due: none

Fix typo
  lib/make/lint
Due: none

Updating pyright config
  pyproject.toml
Due: none

Fixing linter
  pyproject.toml
Due: none

Undo
  pyproject.toml
Due: none

fix(lint): system was skipping some files, before
  .pre-commit-config.yaml
  bin/git-ls-mimetype
  lib/git/ls-python
  lib/git/ls-sh
  lib/make/bin/prettier
  lib/make/bin/pyright
  lib/make/bin/pyright-verifytypes
  lib/make/bin/shellcheck
  lib/make/brew
  lib/make/format
  lib/make/lint
  lib/make/pyenv
Due: none

lint: mypy wants things to be unambiguously importable
  .pre-commit-config.yaml
  bin/tf-lock-acquire
  bin/tf-lock-info
  bin/tf-lock-release
  lib/ci/obtain-lock
  lib/ci/release-lock
  lib/tf_lock/TESTING.md
  lib/tf_lock/lib/__init__.py
  lib/tf_lock/lib/error2json
  lib/tf_lock/lib/error2json.sed
  lib/tf_lock/lib/lock-id.jq
  lib/tf_lock/lib/py.typed
  lib/tf_lock/lib/tf_lock_acquire.py
  lib/tf_lock/tf-lock-acquire
  lib/tf_lock/tf-lock-id
  lib/tf_lock/tf-lock-info
  lib/tf_lock/tf-lock-release
  lib/tf_lock/tf-state-info
  manual_tests/lib/slice.py
Due: black, isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec

renamed tacos-demo to tacos-gha.demo
  manual_tests/lib/gh/repo.py
Due: black, isort, pyright, mypy, pyright-verifytypes-spec

merged bukzor-sentryio to bukzor
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_detect_drift.yml
  .github/workflows/tacos_lock.yml
  .github/workflows/tacos_plan.yml
  .github/workflows/tacos_unlock.yml
  .gitignore
Due: none

new command: tf-lock
  bin/tf-lock
  lib/tf-lock/lib/env.sh
  lib/tf-lock/lib/lock-id.jq
  lib/tf-lock/lib/tf_lock_acquire.py
  lib/tf-lock/tf-lock
  lib/tf-lock/tf-lock-acquire
  lib/tf-lock/tf-lock-id
  lib/tf-lock/tf-lock-info
  lib/tf-lock/tf-lock-release
Due: black, isort, pyright, mypy, pyright-verifytypes-lib

lint: shellcheck was worried about array expansion
  lib/tf-lock/tf-lock
Due: none
