Repository getsentry/tacos-gha: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-spec, pyright-verifytypes-tf-lock

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: prettier --write --ignore-unknown

      - id: black
        name: black
        language: system
        entry: ./lib/make/bin/black
        pass_filenames: false

      - id: isort
        name: isort
        language: system
        entry: isort
        files: '\.py$'

      - id: pyright
        name: pyright
        language: system
        entry: pyright
        files: '\.py$'

      - id: mypy
        name: mypy
        language: system
        entry: mypy
        files: '\.py$'

      - id: pyright-verifytypes-lib
        name: "pyright verify: lib"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib
        files: "^lib/"
        pass_filenames: false

      - id: pyright-verifytypes-spec
        name: "pyright verify: spec"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes manual_tests
        files: "^manual_tests/"
        pass_filenames: false

      - id: pyright-verifytypes-tf-lock
        name: "pyright verify: tf-lock"
        language: system
        entry: ./lib/make/bin/pyright-verifytypes lib/tf_lock/lib
        files: "^lib/tf_lock/lib/"
        pass_filenames: false

      - id: shellcheck
        name: shellcheck
        language: system
        entry: ./lib/make/bin/shellcheck

need to pass in the ssh-private-key
  .github/workflows/tacos_unlock.yml
Due: none

simplified tf_lock_release
  .github/workflows/tacos_unlock.yml
  TODO.md
  lib/ci/unlock
  lib/tacos/terraformers.py
  lib/tf_lock/release.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

add the inputs
  .github/actions/basic-setup/action.yml
Due: none

removing one more step
  .github/actions/basic-setup/action.yml
  .github/workflows/tacos_unlock.yml
Due: none

tf lock acquire exit is not consistent, tthis fixes it
  lib/tf_lock/lib/acquire.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

trying this first
  .github/actions/basic-setup/action.yml
  .github/workflows/tacos_unlock.yml
Due: none

write out debug msg for UserError
  lib/tf_lock/release.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

make tf-lock use terragrunt-noninteractive
  doc/INSTALL.md
  lib/ci/tacos_apply_summary.py
  lib/ci/tacos_plan_summary.py
  lib/tf_lock/bin/terragrunt
  lib/tf_lock/lib/env.py
  lib/tf_lock/lib/env.sh
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

fixed working dir
  .github/workflows/tacos_unlock.yml
  lib/tf_lock/TESTING.md
  lib/tf_lock/lib/env.sh
Due: pyright-verifytypes-lib, pyright-verifytypes-tf-lock

skip "quietly" behavior during debug
  lib/unix/quietly
Due: pyright-verifytypes-lib

added -P to all python shebands
  lib/tacos/conflict_detection.py
  lib/tacos/dependent_slices.py
  lib/tacos/install_labels.py
  lib/tacos/path_filter.py
  lib/tacos/slices.py
  lib/tf_lock/lib/acquire.py
  lib/tf_lock/release.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

unbuffered, more
  .github/workflows/tacos_plan.yml
  TODO.grep.md
  lib/ci/bin/terragrunt-noninteractive
  lib/ci/bin/tf-log-normalize
  lib/github_actions/log-as-step-summary
  lib/unix/uncolor
Due: pyright-verifytypes-lib

add -p everywhere else
  .github/actions/matrix-fan-out/square.py
  lib/ci/list-slices
  lib/ci/release-lock
  lib/ci/tacos-apply-summary
  lib/ci/tacos-plan-summary
  lib/ci/tacos-unlock-summary
  lib/ci/tacos_apply_summary.py
  lib/ci/tacos_plan_summary.py
  lib/ci/tacos_unlock_summary.py
  lib/make/coverage-server
  lib/tacos/slices
  lib/tf_lock/tf-lock-acquire
  lib/tf_lock/tf-lock-release
  lib/tf_lock/tf_lock_acquire.py
  lib/unix/nearest-config-file
Due: isort, pyright, mypy, pyright-verifytypes-lib

add: direnv variable
  .envrc
Due: none

change all python3 to python3.12
  .github/actions/matrix-fan-out/square.py
  lib/ci/list-slices
  lib/ci/release-lock
  lib/ci/tacos_apply_summary.py
  lib/ci/tacos_plan_summary.py
  lib/ci/tacos_unlock_summary.py
  lib/make/coverage-server
  lib/unix/nearest-config-file
Due: isort, pyright, mypy, pyright-verifytypes-lib

allow applies for when no review is required
  lib/ci/github-pr-setenv
Due: pyright-verifytypes-lib

-P s in more places
  .github/actions/matrix-fan-out/square.py
  lib/tf_lock/tf_lock_acquire.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

enable sudo-gcp even without activate.sh
  lib/gcloud/sudo-gcp
Due: pyright-verifytypes-lib

TODO cleanup
  TODO.md
  doc/TODONE.md
Due: none

treat DEBUG numerically, in all sh code
  .envrc
  activate.sh
  lib/ci/bin/default-shell-post-sudo
  lib/ci/bin/terragrunt-noninteractive
  lib/ci/bin/tf-step-summary
  lib/ci/bin/with-user-env
  lib/gcloud/gcloud-auth-export-access-token
  lib/gcloud/sudo-gcp
  lib/gcloud/sudo-gcp-service-account
  lib/github_actions/set-env
  lib/github_actions/set-output
  lib/github_actions/step-summary
  lib/tacos/install-labels
  lib/tacos/plan
  lib/tf_lock/lib/env.sh
  lib/unix/super
  lib/unix/tty-attach
Due: pyright-verifytypes-lib, pyright-verifytypes-tf-lock

added file descriptor 3 so we can get better logs
  .github/workflows/tacos_plan.yml
  lib/ci/tacos-plan
Due: pyright-verifytypes-lib

add: debug set to itself in sudo-gcp and sudo-gcp-service-account
  lib/gcloud/sudo-gcp
  lib/gcloud/sudo-gcp-service-account
Due: pyright-verifytypes-lib

fix: or in jq is 'or'
  lib/ci/github-pr-setenv
Due: pyright-verifytypes-lib

WIP: tf-lock-url
  activate.sh
  bin/tf-lock-url
  lib/functions.py
  lib/sh/cd.py
  lib/sh/core.py
  lib/sh/errors.py
  lib/sh/io.py
  lib/tf_lock/lib/env.py
  lib/tf_lock/lib/tf-lock-info-uncached
  lib/tf_lock/release.py
  lib/tf_lock/tf-lock-url
  lib/tf_lock/tf_lock_info.py
  lib/tf_lock/tf_lock_url.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

Update TODO.md
  TODO.md
Due: none

updating cache properly
  lib/tf_lock/lib/env.py
  lib/tf_lock/tf_lock_info.py
Due: isort, pyright, mypy, pyright-verifytypes-lib, pyright-verifytypes-tf-lock

auto-commit: GHA deps, for test
  lib/tf_lock/tf_lock_info.py
Due: isort, pyright, mypy, pyright-verifytypes-lib

auto-commit: GHA deps, for test
  lib/tacos/plan
Due: pyright-verifytypes-lib

auto-commit: GHA deps, for test
  lib/tf_lock/lib/env.sh
Due: pyright-verifytypes-lib, pyright-verifytypes-tf-lock

auto-commit: GHA deps, for test
  .github/workflows/tacos_apply.yml
  .github/workflows/tacos_detect_drift.yml
  .github/workflows/tacos_plan.yml
Due: none
